@import url(default.css);
@import url(font.css);
@import url(common.css);

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /* 맨위 */
    width: 100%;
}
.skip_nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: navy;
    color: #fff;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus {
    top: 0;
}

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex; /* logo gnb util 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header .logo a {
    display: block;
    width: 190px;
    height: 38px;
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header.fixed .logo a {
    background-image: url(../images/logo_black.svg);
}
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
/* header에 fixed 클래스가 추가되었을때*/
@media screen and (min-width:1025px) {
/* pc버전에서만 적용되는 header 스타일 */   
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* 2차메뉴 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: 'Suit';
        font-weight: 400;
        font-size: 20px;
        line-height: 80px; /* header 높이만큼 */
        padding: 0 20px;
    }
    /* header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
        li하위에 depth2가 있는 a만 
        display: block;
        padding-right: 17px; 아이콘이 들어갈 만큼 
        position: relative;  after 정렬의 기준 
    } */
    /* header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        content: "";
        position: absolute;
        right: 0;
        top: -50px;
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_437' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_437)'%3E%3Cpath d='M26.1333 28L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L28 26.1333L26.1333 28ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    } */
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /* 2차메뉴 */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 66px;
        background-color: #FF4D00;
        color: #fff;
        border-radius: 50px;
        padding: 0 23px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        white-space: nowrap; /* 줄바꿈 금지 */
        padding: 18px 17px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        /* 속성선택자 <a target="_blank"> 라는 속성이 a태그만 선택함 */
        display: block;
        padding-right: 20px;
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
        content: "";
        position: absolute;
        right: 0;
        top: 4px;
        width: 17px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_260' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect width='17' height='17' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_260)'%3E%3Cpath d='M3.54167 14.875C3.15208 14.875 2.81858 14.7363 2.54115 14.4589C2.26372 14.1814 2.125 13.8479 2.125 13.4583V3.54167C2.125 3.15208 2.26372 2.81858 2.54115 2.54115C2.81858 2.26372 3.15208 2.125 3.54167 2.125H8.5V3.54167H3.54167V13.4583H13.4583V8.5H14.875V13.4583C14.875 13.8479 14.7363 14.1814 14.4589 14.4589C14.1814 14.7363 13.8479 14.875 13.4583 14.875H3.54167ZM6.87083 11.1208L5.87917 10.1292L12.4667 3.54167H9.91667V2.125H14.875V7.08333H13.4583V4.53333L6.87083 11.1208Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    header .util .search .search_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_437' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_437)'%3E%3Cpath d='M26.1333 28L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L28 26.1333L26.1333 28ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    /* header에 fixed 클래스 추가되었을때 */
    /* header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_437' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_437)'%3E%3Cpath d='M26.1333 28L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L28 26.1333L26.1333 28ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    } */
    header.fixed .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_437' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_437)'%3E%3Cpath d='M26.1333 28L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L28 26.1333L26.1333 28ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    /* 메뉴에 마우스 오버했을때 */
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #FF4D00;
        font-weight: 700;
    }
    /* header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_437' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect width='32' height='32' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_437)'%3E%3Cpath d='M26.1333 28L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L28 26.1333L26.1333 28ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='%23FF4D00'/%3E%3C/g%3E%3C/svg%3E%0A");
        transform: rotate(180deg);
    } */
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: flex; /*li좌우로 배치*/
    }
}/* media */
@media screen and (min-width:1025px) and (max-width:1280px) { /* 1280~1025까지만 적용 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 15px;
        font-size: 20px
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 18px 12px;
    }
}/* media */
@media screen and (max-width:1024px) {
    header {
        height: 56px;
        padding: 0 0 0 20px;
    }
    header .logo a {
        width: 146px;
        height: 29px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_1014' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_1014)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_1014' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_1014)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none; /* 숨김 */
        position: fixed; /* body를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 56px 0 0 0;
        height: calc(100% - 56px);
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        padding: 25px 20px 25px 20px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 29px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_1005' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_1005)'%3E%3Cpath d='M11.9998 14.9748C11.8665 14.9748 11.7415 14.954 11.6248 14.9123C11.5081 14.8706 11.3998 14.7998 11.2998 14.6998L6.6998 10.0998C6.51647 9.91647 6.4248 9.68314 6.4248 9.3998C6.4248 9.11647 6.51647 8.88314 6.6998 8.6998C6.88314 8.51647 7.11647 8.4248 7.3998 8.4248C7.68314 8.4248 7.91647 8.51647 8.0998 8.6998L11.9998 12.5998L15.8998 8.6998C16.0831 8.51647 16.3165 8.4248 16.5998 8.4248C16.8831 8.4248 17.1165 8.51647 17.2998 8.6998C17.4831 8.88314 17.5748 9.11647 17.5748 9.3998C17.5748 9.68314 17.4831 9.91647 17.2998 10.0998L12.6998 14.6998C12.5998 14.7998 12.4915 14.8706 12.3748 14.9123C12.2581 14.954 12.1331 14.9748 11.9998 14.9748Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #F2F6FF;
        color: #2b2b2b;
        padding: 27px 0 24px 29px;
        display: none; /* 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 7px 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        display: inline-block;
        position: relative;
        padding-right: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_71_52' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_71_52)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_close {
        display: none; /* 숨김 */
        position: fixed;
        right: 0;
        top: 0;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_957' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_957)'%3E%3Cpath d='M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .util {
        display: none; /* 숨김 */
    }
    
    /* 모바일 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }

    /* 하위메뉴가 열렸을때 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #FF4D00;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_996' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_996)'%3E%3Cpath d='M11.9998 10.7999L8.0998 14.6999C7.91647 14.8832 7.68314 14.9749 7.3998 14.9749C7.11647 14.9749 6.88314 14.8832 6.6998 14.6999C6.51647 14.5166 6.4248 14.2832 6.4248 13.9999C6.4248 13.7166 6.51647 13.4832 6.6998 13.2999L11.2998 8.6999C11.4998 8.4999 11.7331 8.3999 11.9998 8.3999C12.2665 8.3999 12.4998 8.4999 12.6998 8.6999L17.2998 13.2999C17.4831 13.4832 17.5748 13.7166 17.5748 13.9999C17.5748 14.2832 17.4831 14.5166 17.2998 14.6999C17.1165 14.8832 16.8831 14.9749 16.5998 14.9749C16.3165 14.9749 16.0831 14.8832 15.8998 14.6999L11.9998 10.7999Z' fill='%23FF4D00'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block; /* 표시 */
    }
}/* media */

.visual .swiper-slide {
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide.bg4 {
    background-image: url(../images/visual_bg4.jpg);
}
.visual .swiper-slide.bg5 {
    background-image: url(../images/visual_bg5.jpg);
}
.visual .swiper-slide .wrapper {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 200px 0;
}
.visual .swiper-slide p {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}
.visual .btn_wrap {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_442' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_442)'%3E%3Cpath d='M6.24628 9L2 5L6.24628 1L7 1.71L3.50743 5L7 8.29L6.24628 9Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_442' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_442)'%3E%3Cpath d='M6.24628 9L2 5L6.24628 1L7 1.71L3.50743 5L7 8.29L6.24628 9Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_451' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_451)'%3E%3Cpath d='M6.66667 7.91634C6.4375 7.91634 6.24132 7.83474 6.07813 7.67155C5.91493 7.50836 5.83333 7.31217 5.83333 7.08301V2.91634C5.83333 2.68717 5.91493 2.49099 6.07813 2.3278C6.24132 2.16461 6.4375 2.08301 6.66667 2.08301C6.89583 2.08301 7.09201 2.16461 7.25521 2.3278C7.4184 2.49099 7.5 2.68717 7.5 2.91634V7.08301C7.5 7.31217 7.4184 7.50836 7.25521 7.67155C7.09201 7.83474 6.89583 7.91634 6.66667 7.91634ZM3.33333 7.91634C3.10417 7.91634 2.90799 7.83474 2.74479 7.67155C2.5816 7.50836 2.5 7.31217 2.5 7.08301V2.91634C2.5 2.68717 2.5816 2.49099 2.74479 2.3278C2.90799 2.16461 3.10417 2.08301 3.33333 2.08301C3.5625 2.08301 3.75868 2.16461 3.92188 2.3278C4.08507 2.49099 4.16667 2.68717 4.16667 2.91634V7.08301C4.16667 7.31217 4.08507 7.50836 3.92188 7.67155C3.75868 7.83474 3.5625 7.91634 3.33333 7.91634Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 정지버튼을 눌렀을때만 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_1043' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='10' y='10' width='10' height='10' transform='rotate(-180 10 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_1043)'%3E%3Cpath d='M7.36475 4.64567C7.42725 4.68734 7.47412 4.73942 7.50537 4.80192C7.53662 4.86442 7.55225 4.93039 7.55225 4.99984C7.55225 5.06928 7.53662 5.13525 7.50537 5.19775C7.47412 5.26025 7.42725 5.31234 7.36475 5.354L3.96891 7.51025C3.93419 7.53109 3.89773 7.54671 3.85954 7.55713C3.82134 7.56755 3.78489 7.57275 3.75016 7.57275C3.63905 7.57275 3.54183 7.53282 3.4585 7.45296C3.37516 7.3731 3.3335 7.27414 3.3335 7.15609L3.3335 2.84359C3.3335 2.72553 3.37516 2.62657 3.4585 2.54671C3.54183 2.46685 3.63905 2.42692 3.75016 2.42692C3.78489 2.42692 3.82134 2.43213 3.85954 2.44254C3.89773 2.45296 3.93419 2.46859 3.96891 2.48942L7.36475 4.64567Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
    .visual .swiper-slide .wrapper {
        height: 600px;
        padding: 0 0 150px 0;
    }
    .visual .swiper-slide p {
        font-size: 40px;
    }
}
@media screen and (max-width:768px) {
    .visual .swiper-slide .wrapper {
        height: 400px;
        padding: 0 0 100px 0;
    }
    .visual .swiper-slide p {
        font-size: 35px;
    }
    .visual .btn_wrap {
        bottom: 20px;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
    .visual .btn_wrap button.btn_stop {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_17_451' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17_451)'%3E%3Cpath d='M6.66667 7.91634C6.4375 7.91634 6.24132 7.83474 6.07813 7.67155C5.91493 7.50836 5.83333 7.31217 5.83333 7.08301V2.91634C5.83333 2.68717 5.91493 2.49099 6.07813 2.3278C6.24132 2.16461 6.4375 2.08301 6.66667 2.08301C6.89583 2.08301 7.09201 2.16461 7.25521 2.3278C7.4184 2.49099 7.5 2.68717 7.5 2.91634V7.08301C7.5 7.31217 7.4184 7.50836 7.25521 7.67155C7.09201 7.83474 6.89583 7.91634 6.66667 7.91634ZM3.33333 7.91634C3.10417 7.91634 2.90799 7.83474 2.74479 7.67155C2.5816 7.50836 2.5 7.31217 2.5 7.08301V2.91634C2.5 2.68717 2.5816 2.49099 2.74479 2.3278C2.90799 2.16461 3.10417 2.08301 3.33333 2.08301C3.5625 2.08301 3.75868 2.16461 3.92188 2.3278C4.08507 2.49099 4.16667 2.68717 4.16667 2.91634V7.08301C4.16667 7.31217 4.08507 7.50836 3.92188 7.67155C3.75868 7.83474 3.5625 7.91634 3.33333 7.91634Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .visual .btn_wrap button.btn_play {
        display: none; /* 정지버튼을 눌렀을때만 나옴 */
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_41_1043' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect x='10' y='10' width='10' height='10' transform='rotate(-180 10 10)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_41_1043)'%3E%3Cpath d='M7.36475 4.64567C7.42725 4.68734 7.47412 4.73942 7.50537 4.80192C7.53662 4.86442 7.55225 4.93039 7.55225 4.99984C7.55225 5.06928 7.53662 5.13525 7.50537 5.19775C7.47412 5.26025 7.42725 5.31234 7.36475 5.354L3.96891 7.51025C3.93419 7.53109 3.89773 7.54671 3.85954 7.55713C3.82134 7.56755 3.78489 7.57275 3.75016 7.57275C3.63905 7.57275 3.54183 7.53282 3.4585 7.45296C3.37516 7.3731 3.3335 7.27414 3.3335 7.15609L3.3335 2.84359C3.3335 2.72553 3.37516 2.62657 3.4585 2.54671C3.54183 2.46685 3.63905 2.42692 3.75016 2.42692C3.78489 2.42692 3.82134 2.43213 3.85954 2.44254C3.89773 2.45296 3.93419 2.46859 3.96891 2.48942L7.36475 4.64567Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}

.find {
    background-color: #1F1B24;
    color: #fff;
    padding: 128px 0 195px 0;
}
.find .tit h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.find .list {
    margin: 40px 0 0 0;
}
.find .list .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.find .list .tab_list ul li button {
    font-size: 35px;
    font-family: 'Suit';
    padding: 17px 51px 16px 51px;
    border-radius: 45px;
    background-color: #433E47;
}
.find .list .tab_list ul li.active button {
    background-color: #FF4D00;
}
.find .list .tab_content {
    margin: 45px 0 0 0;
}
.find .list .tab_content .tab_item {
    display: none;
}
.find .list .tab_content .tab_item.active {
    display: block;
}
.find .list .tab_content .tab_item > ul {
    display: flex;
    justify-content: space-between;
}
.find .list .tab_content .tab_item > ul > li {
    width: calc(25% - 18px);
    /* 24+24+24 / li 개수 한줄 */
}
.find .list .tab_content .tab_item > ul > li > a {
    display: block;
}
.find .list .tab_content .tab_item > ul > li > a .photo {
    overflow: hidden;
    height: 400px;
    border-radius: 20px;
}
.find .list .tab_content .tab_item > ul > li > a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/* 마우스 오버 효과 */
.find .list .tab_content .tab_item > ul > li > a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.find .list .tab_content .tab_item > ul > li > a .subject {
    display: flex;
    gap: 15px;
    margin: 20px 0 10px 0;
    align-items: center;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong {
    padding: 6px 26px;
    border-radius: 50px;
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_end {
    background-color: #433E47;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_see {
    background-color: #F9A825;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_lost {
    background-color: #D32F2F;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_care {
    background-color: #4CAF50;
}
.find .list .tab_content .tab_item > ul > li > a .subject h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    /* 한줄 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .list .tab_content .tab_item > ul > li > a .detail {
    font-family: 'Suit';
    font-size: 17px;
    line-height: 2.0;
}
.find .list .tab_content .tab_item > ul > li > a .detail li {
    display: flex;
    gap: 5px;
}
.find .list .tab_content .tab_item > ul > li > a .detail strong {
    color: rgba(255, 255, 255, 0.95);
    font-weight: 700;
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li > a .detail span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width:1024px) {
    .find .list .tab_content .tab_item > ul {
        gap: 30px 16px;
        flex-wrap: wrap; /* 2줄허용 */
    }
    .find .list .tab_content .tab_item > ul > li {
        width: calc(50% - 8px);
        /* 16 / li 개수 한줄 */
    }
    .find .list .tab_content .tab_item > ul > li > a .photo {
        height: 152px;
        border-radius: 15px;
    }
}
@media screen and (max-width:768px) {
    .find {
        padding: 100px 0 100px 0;
    }
    .find .tit h2 {
        font-size: 30px;
    }
    .find .list {
        margin: 25px 0 0 0;
    }
    .find .list .tab_list ul {
        gap: 10px;
    }
    .find .list .tab_list ul li button {
        font-size: 20px;
        padding: 12px 41px;
    }
    .find .list .tab_list ul li.active button {
        background-color: #FF4D00;
    }
    .find .list .tab_content {
        margin: 40px 0 0 0;
    }
    .find .list .tab_content .tab_item {
        display: none;
    }
    .find .list .tab_content .tab_item.active {
        display: block;
    }

    .find .list .tab_content .tab_item > ul > li > a .subject {
        display: block;
        margin: 10px 0 5px 0;
        position: relative; /* strong 기준 정렬 */
    }
    .find .list .tab_content .tab_item > ul > li > a .subject strong {
        position: absolute;
        left: 0;
        bottom: 34px;
        padding: 0 21px;
        border-radius: 0 50px 50px 35px;
        white-space: nowrap;
        line-height: 33px;
    }
    .find .list .tab_content .tab_item > ul > li > a .subject h4 {
        font-size: 20px;
    }
    .find .list .tab_content .tab_item > ul > li > a .detail {
        font-size: 16px;
        line-height: 1.8;
    }
    .find .list .tab_content .tab_item > ul > li > a .detail li {
        display: block;
    }
    .find .list .tab_content .tab_item > ul > li > a .detail strong {
        display: none;
    }
    .find .list .tab_content .tab_item > ul > li > a .detail span {
        display: block;
    }
}

.slogan {
    margin: 177px 0 200px 0;
}
.slogan p {
    color: #1d1d1d;
    text-align: center;
}
.slogan .sub_tit {
    font-weight: 700;
    font-size: 65px;
}
.slogan .sub_tit span {
    display: inline-block;
    color: transparent;
    position: relative;
}
.slogan .sub_tit strong {
    display: inline-block;
    /* 글자를 태그로 감싸고 inline-block을 주면 
       줄바꿈이 될때 inline-block으로 묶인 글자는 단락으로 줄바꿈 */
}
.slogan .sub_tit span.item1 {
    width: 3.0em;
    /* 넓이가 200px - 글자크기 65px
       200 / 65 = 3.01em */
}
.slogan .sub_tit span.item2 {
    width: 3.1em;
}
.slogan .sub_tit span.item3 {
    width: 3.1em;
}
.slogan .sub_tit span.item4 {
    width: 3.1em;
}
.slogan .sub_tit span::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* span의 영역에 위아래 가운데 좌우에 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slogan .sub_tit span.item1::before {
    width: 1.67em; /* 109 / 65 */
    height: 1.69em; /* 110 / 65 */
    background-image: url(../images/slogan01.png);
    top: 30%;
}
.slogan .sub_tit span.item2::before {
    width: 1.95em; /* 127 / 65 */
    height: 1.23em; /* 80 / 65 */
    background-image: url(../images/slogan02.png);
}
.slogan .sub_tit span.item3::before {
    width: 1.8em; /* 117 / 65 */
    height: 1.6em; /* 104 / 65 */
    background-image: url(../images/slogan03.png);
}
.slogan .sub_tit span.item4::before {
    width: 1.76em; /* 115 / 65 */
    height: 1.36em; /* 89 / 65 */
    background-image: url(../images/slogan04.png);
}
.slogan .ex {
    margin: 50px 0 0 0;
}
@media screen and (max-width:1300px) {
    .slogan .sub_tit {
        font-size: 45px;
    }
}
@media screen and (max-width:1024px) {
    .slogan .sub_tit {
        font-size: 40px;
    }
}
@media screen and (max-width:768px) {
    .slogan {
        margin: 110px 0 100px 0;
    }
    .slogan .sub_tit {
        font-size: 35px;
    }
    .slogan .ex {
        font-size: 16px;
        margin: 20px 0 0 0;
    }
    .slogan .ex br {
        display: none;
    }
}

.adopt {
    margin: 200px 0 0 0;
    padding: 172px 0 520px 0;
    background-color: #1F1B24;
    color: #fff;
    text-align: center;
    position: relative;
}
.adopt .tit {
    font-size: 45px;
    font-weight: 700;
}
.adopt .list {
    margin: 40px 0 0 0;
}
.adopt .list .swiper-slide {
    width: 300px;
}
.adopt .list .swiper-slide a {
    display: block;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: 300px;
    border-radius: 50%;
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.adopt .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.adopt .list_ctrl {
    margin: 60px 0 0 0;
}
.adopt .list .swiper-slide a h3 {
    font-size: 25px;
    margin: 0 0 10px 0;
}
.adopt .list .swiper-slide a p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.adopt .list .swiper-slide a strong {
    display: inline-block;
    font-family: 'Suit';
    line-height: 1.2;
    padding: 6px 23px;
    border-radius: 40px;
    background-color: #F9A825;
    position: relative;
    transform: translateY(-16px);
}
.adopt .list .swiper-slide a strong.cate_care {
    background-color: #D32F2F;
}
.adopt .list_ctrl {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
    gap: 7px;
}
.adopt .list_ctrl button {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_152' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='15.5' y='15.5005' width='15' height='15' transform='rotate(-180 15.5 15.5005)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_152)'%3E%3Cpath d='M6.20595 1L13 8L6.20594 15L5 13.7575L10.5881 8L5 2.2425L6.20595 1Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.adopt .list_ctrl button.btn_prev {
    transform: rotate(180deg);
}
.adopt .list_ctrl .more {
    font-size: 15px;
    font-family: 'Suit';
    line-height: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 0 32px 0 14px;
    position: relative; /* before 정렬의 기준 */
}
.adopt .list_ctrl .more::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_765' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_765)'%3E%3Cpath d='M6.41667 12.25V7.58333H1.75V6.41667H6.41667V1.75H7.58333V6.41667H12.25V7.58333H7.58333V12.25H6.41667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.adopt .rolling {
    position: absolute;
    bottom: 150px;
    width: 100%;
}
.adopt .rolling p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Sult';
    font-weight: 700;
    font-size: 150px;
    color: #433E47;
    white-space: nowrap;

    animation-name: rolling;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes rolling {
    0% { left: 0; }
    100% { left: -15.25em }
}
@media screen and (max-width:1300px) {
    .adopt .tit {
        font-size: 40px;
    }
    .adopt .rolling p {
        font-size: 125px;
    }
}
@media screen and (max-width:1024px) {
    .adopt .tit {
        font-size: 35px;
    }
    .adopt .rolling p {
        font-size: 100px;
    }
}
@media screen and (max-width:768px) {
    .adopt {
        margin: 100px 0 0 0;
        padding: 140px 0 200px 0;
    }
    .adopt .tit {
        font-size: 30px;
    }
    .adopt .list .swiper-slide {
        width: 200px;
    }
    .adopt .list .swiper-slide a p {
        font-family: 'Suit';
        font-size: 16px;
    }
    .adopt .list .swiper-slide a .photo {
        height: 200px;
    }
    .adopt .list_ctrl {
        margin: 50px 0 0 0;
    }
    .adopt .list .swiper-slide a h3 {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    .adopt .list .swiper-slide a strong {
        font-size: 16px;
        transform: translateY(-14px);
    }
    .adopt .list_ctrl {
        display: flex;
        justify-content: center;
        margin: 60px 0 0 0;
        gap: 7px;
    }
    .adopt .list_ctrl button {
        display: none;
    }
    .adopt .rolling {
        bottom: 30px;
    }
    .adopt .rolling p {
        font-size: 75px;
    }
}

footer {
    margin: 2000px 0 0 0;
}