@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between;
    /* logo와 inner를 header 넓이 안에서 좌우 끝으로 배치 */
    height: 100px;
    padding: 0 25px; /* 위아래 좌우 */
}
header .logo {
    margin: 25px 0 0 0;
}
header .inner {
    display: flex; /* gnb shop을 좌우로 배치 */
    align-items: center; /* 위아래 가운데 */
    gap: 25px
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block; /* a 필수 값 */
    font-size: 25px;
    color: #1d1d1d;
    line-height: normal;
    /* header의 높이랑 1차메뉴의 a의 높이는 같아야함.. a에 행간을 header의 높이값으로 줌
        a에 높이가 생기고 글자는 위아래 가운데 정렬 */
    padding: 35px 30px;
}
header .inner .shop {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: normal;
    background-color: #005921;
    border-radius: 23px;
    padding: 8px 42px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 800px;
    margin: 0 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.03em;
    padding: 346px 0 0 0;
}

.product {
    margin: 181px 0 0 0;
}
.product .tit h2 {
    font-weight: 700;
    color: #005921;
}
.product .tit p {
    font-size: 45px;
    color: #1d1d1d;
    letter-spacing: 0.03em;
}
.product .list {
    margin: 52px 0 0 0;
}
.product .list ul {
    display: flex;
    justify-content: space-between;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a .photo {
    font-size: 0;
    line-height: 0;
    /* 이미지 사진 하단 여백 제거
        img태그에 직접 주면 적용X
        img태그만 감싸는 요소에 줘야함 */
}
.product .list ul li h3 {
    font-size: 25px;
    margin: 20px 0 0 0;
    /* 한줄로 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.network {
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    margin: 188px 0 0 0;
    height: 800px;
    color: rgba(255, 255, 255, 0.8)
}
.network h2 {
    padding: 295px 0 0 0;
    color: #fff;
}
.network .sub_tit {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.03em;
}
.network a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 23px;
    padding: 8px 26px;
    margin: 32px 0;
}

.community {
    margin: 181px 0 0 0;
}
.community .tit h2 {
    font-weight: 700;
    color: #005921;
}
.community .tit p {
    font-size: 45px;
    color: #1d1d1d;
    letter-spacing: 0.03em;
}
.community .list {
    margin: 52px 0 0 0;
    display: flex; /* group을 좌우로 배치 */
    justify-content: space-between;
}
.community .list .group {
    width: calc(50% - 6px);
}
.community .list .group ul {
    display: flex; /* li를 좌우로 배치 */
    flex-wrap: wrap; /* flex 두줄 허용 */
    gap: 12px;
}
/*
    1. li의 사이즈와 a의 사이즈가 동일해야 할때
    2. height를 꼭 줘야 하는 디자인일때 (위에 product는 높이가 필요없는 디자인)
    -- li에는 넓이를 주고 a에는 높이를 줌
*/
.community .list .group ul li.color, /* 클래스 color, gray 동시 선언 */
.community .list .group ul li.gray {
    width: calc(50% - 6px);
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a {
    height: 238px;
    color: #fff;
}
.community .list .group ul li.color.bg1 a {
    background-color: #005921;
}
.community .list .group ul li.color.bg2 a {
    background-color: #003B8D;
}
.community .list .group ul li.gray a {
    background-color: #f4f4f4;
    color: #1d1d1d;
}
.community .list .group ul li.review {
    width: 100%;
    /* 나를 감싸는 요소 ul의 넓이의 100%가 들어감 */
}
.community .list .group ul li.review a {
    height: 405px;
}
.community .list .group ul li.review.bg1 a {
    background: url(../images/community_bg1.jpg) no-repeat center center / cover;
    color: #fff;
}
.community .list .group ul li.review.bg2 a {
    background: url(../images/community_bg2.jpg) no-repeat center center / cover;
    color: #fff;
}
.community .list .group ul li a {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.community .list .group ul li a strong {
    font-weight: 700;
}
.community .list .group ul h3 {
    font-size: 20px;
    letter-spacing: 0.03em;
    /* 한줄 제한 */
    margin: 5px 0 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .list .group ul li a .date {
    display: flex;
    gap: 22px;
    font-weight: 700;
}
.community .list .group ul li.color a .date,
.community .list .group ul li.review a .date {
    color: rgba(255, 255, 255, 0.8);
}
.community .list .group ul li.gray a .date {
    color: rgba(29, 29, 29, 0.8);
}

footer {
    background-color: #000;
    padding: 69px 0 88px 0;
    color: #fff;
    margin: 191px 0 0 0;
}
footer .f_nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 14px 0;
}
footer .f_nav ul {
    display: flex;
    gap: 23px;
}
footer .f_info {
    margin: 15px 0 27px 0;
}
footer .f_info .group {
    display: flex;
    gap: 23px;
    margin: 0 0 2px 0;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.6)
}
