@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: 'Eulyoo1945';
    font-weight: 500;
    line-height: 1.4;
}

header {
    position: absolute; /*wrap*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%; /* wrap 기준으로 100% */
    height: 80px;
    color: #fff;
    display: flex; /*로고,gnb,tnb 좌우배치*/
    justify-content: space-between;
    align-items: center; /*위 아래 가운데*/
    padding: 0 30px; /* logo,tnb 좌우여백 */
    border-bottom: 1px solid rgba(236, 221, 206, 0.5);
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    /* 이미지 하단에 존재하는 행간 삭제 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
}
header .tnb {
    display: flex; /* mypage, search 배치*/
    gap: 20px;
}
header .tnb .mypage,
header .tnb .search {
    width: 30px;
    height: 30px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_1061' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_1061)'%3E%3Cpath d='M7.3125 21.375C8.375 20.5625 9.5625 19.9219 10.875 19.4531C12.1875 18.9844 13.5625 18.75 15 18.75C16.4375 18.75 17.8125 18.9844 19.125 19.4531C20.4375 19.9219 21.625 20.5625 22.6875 21.375C23.4167 20.5208 23.9844 19.5521 24.3906 18.4688C24.7969 17.3854 25 16.2292 25 15C25 12.2292 24.026 9.86979 22.0781 7.92188C20.1302 5.97396 17.7708 5 15 5C12.2292 5 9.86979 5.97396 7.92188 7.92188C5.97396 9.86979 5 12.2292 5 15C5 16.2292 5.20312 17.3854 5.60938 18.4688C6.01562 19.5521 6.58333 20.5208 7.3125 21.375ZM15 16.25C13.7708 16.25 12.7344 15.8281 11.8906 14.9844C11.0469 14.1406 10.625 13.1042 10.625 11.875C10.625 10.6458 11.0469 9.60938 11.8906 8.76563C12.7344 7.92188 13.7708 7.5 15 7.5C16.2292 7.5 17.2656 7.92188 18.1094 8.76563C18.9531 9.60938 19.375 10.6458 19.375 11.875C19.375 13.1042 18.9531 14.1406 18.1094 14.9844C17.2656 15.8281 16.2292 16.25 15 16.25ZM15 27.5C13.2708 27.5 11.6458 27.1719 10.125 26.5156C8.60417 25.8594 7.28125 24.9688 6.15625 23.8438C5.03125 22.7188 4.14063 21.3958 3.48438 19.875C2.82812 18.3542 2.5 16.7292 2.5 15C2.5 13.2708 2.82812 11.6458 3.48438 10.125C4.14063 8.60417 5.03125 7.28125 6.15625 6.15625C7.28125 5.03125 8.60417 4.14063 10.125 3.48438C11.6458 2.82812 13.2708 2.5 15 2.5C16.7292 2.5 18.3542 2.82812 19.875 3.48438C21.3958 4.14063 22.7188 5.03125 23.8438 6.15625C24.9688 7.28125 25.8594 8.60417 26.5156 10.125C27.1719 11.6458 27.5 13.2708 27.5 15C27.5 16.7292 27.1719 18.3542 26.5156 19.875C25.8594 21.3958 24.9688 22.7188 23.8438 23.8438C22.7188 24.9688 21.3958 25.8594 19.875 26.5156C18.3542 27.1719 16.7292 27.5 15 27.5ZM15 25C16.1042 25 17.1458 24.8385 18.125 24.5156C19.1042 24.1927 20 23.7292 20.8125 23.125C20 22.5208 19.1042 22.0573 18.125 21.7344C17.1458 21.4115 16.1042 21.25 15 21.25C13.8958 21.25 12.8542 21.4115 11.875 21.7344C10.8958 22.0573 10 22.5208 9.1875 23.125C10 23.7292 10.8958 24.1927 11.875 24.5156C12.8542 24.8385 13.8958 25 15 25ZM15 13.75C15.5417 13.75 15.9896 13.5729 16.3438 13.2188C16.6979 12.8646 16.875 12.4167 16.875 11.875C16.875 11.3333 16.6979 10.8854 16.3438 10.5312C15.9896 10.1771 15.5417 10 15 10C14.4583 10 14.0104 10.1771 13.6562 10.5312C13.3021 10.8854 13.125 11.3333 13.125 11.875C13.125 12.4167 13.3021 12.8646 13.6562 13.2188C14.0104 13.5729 14.4583 13.75 15 13.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_1064' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_1064)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-size: 20px;
    line-height: 80px;
    /* header의 높이 */
    padding: 0 23px;
}
@media screen and (max-width:640px) {
    header {
        height: 56px;
        padding: 0 0 0 15px; /* logo,tnb 좌우여백 */
        border-bottom: 0;
    }
    header .logo a img {
        width: 125px;
    }
    header .gnb .gnb_open {
        display: block; /*none -> block 숨김요소 보이게*/
        width: 56px; /* header 높이와 동일 */
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_1322' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_1322)'%3E%3Cpath d='M3.25 7.58366V5.41699H22.75V7.58366H3.25ZM3.25 20.5837V18.417H22.75V20.5837H3.25ZM3.25 14.0837V11.917H22.75V14.0837H3.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .tnb {
        display: none;
    }
}

.visual {
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    min-height: 530px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
}
.visual h2 {
    font-size: 60px;
    color: #fff;
    padding: 50vh 0 5px 0;
}
.visual p {
    color: #fff;
}
@media screen and (max-width:640px) {
    .visual {
        height: auto;
        min-height: 0;
    }
    .visual h2 {
        font-size: 32px;
        padding: 255px 0 5px 0;
    }
    .visual p {
        font-size: 16px;
        padding-bottom: 199px;
    }
    .visual p br {
        display: none;
    }
}

.book {
    padding: 200px 0 200px 0;
    background-color: #ECDDCE;
}
.book .book_wrap {
    width: calc(50% + 630px); /* 브라우저 절반 (50%) + wrapper의 절반 1260 / 2 = 630 */
    position: relative;
    left: calc(50% - 630px);
    display: flex; /* tit, list 좌우 배치 */
    justify-content: space-between;
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.book .book_wrap .list {
    width: calc(100% - 321px);
    /* book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기 
       book_wrap (100%) - tit 넓이 */
    overflow-x: hidden;
}
.book .book_wrap .list ul {
    display: flex; /* li를 좌우로*/
    gap: 20px;
    width: 1960px;
    /* li넓이 * li 갯수 = 256*7 = 1792
        사이 여백 * li갯수 = 24*7 = 168
        1960*/
}
.book .book_wrap .list ul li {
    width: 256px;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
    overflow: hidden;
}
.book .book_wrap .list ul li a .photo img {
    width: 100%;
    /* 높이는 비율에 맞게 알아서
       - 책은 이미지 전체가 나와야 하기 때문에 object-fit 안줌*/
    vertical-align: top;
    /* 이미지 하단 행간 제거 */
}
.book .book_wrap .list ul li a h3 {
    font-size: 20px;
    margin: 10px 0 5px 0;
    color: #1d1d1d;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .more {
    position: absolute;
    top: 178px;
    left: 0;
    padding: 0 16px 0 0;
}
.book .book_wrap .more::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_766' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_766)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    top: 2px;
    right: -3px;
    width: 20px;
    height: 20px;
}
@media screen and (min-width:641px) {
    .book .book_wrap .more::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        transition: 0.5s;
        background-color: #3d3d3d;
    }
    .book .book_wrap .more:hover::before {
        width: 100%;
    }
    .book .book_wrap .list ul li a h3 span {
        position: relative; /* after 정렬의 기준 */
    }
    .book .book_wrap .list ul li a h3 span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: #1d1d1d;
        transition: 0.5s;
    }
    .book .book_wrap .list ul li a:hover h3 span::after {
        width: 100%; /* 오버시 0에서 100% span태그 기준*/
    }
}/*@media*/
@media screen and (max-width:640px) {
    .book {
        padding: 100px 0 100px 0;
        background-color: #fff;
    }
    .book .book_wrap {
        width: auto;
        left: auto;
        display: block;
    }
    .book .book_wrap .tit {
        margin: 0 60px 0 20px;
    }
    .book .book_wrap .tit h2 {
        font-size: 28px;
        margin: 0;
    }
    .book .book_wrap .tit p {
        display: none;
    }
    .book .book_wrap .list {
        width: auto;
        overflow-x: auto;
        padding: 20px 0 10px 20px;
    }
    .book .book_wrap .list ul {
        gap: 16px;
        width: 1176px;
        /* li넓이 * li 갯수 = 152*7 = 1064
            사이 여백 * li갯수 = 24*7 = 112
            1176*/
    }
    .book .book_wrap .list ul li {
        width: 152px;
    }
    .book .book_wrap .list ul li a h3 {
        font-size: 16px;
        margin: 10px 0 5px 0;
        white-space: normal;
    }
    .book .book_wrap .more {
        top: 3px;
        left: auto;
        right: 20px;
        padding: 0;
        width: 33px;
        height: 33px;
        background-color: #ECDDCE;
        border-radius: 50%;
    }
    .book .book_wrap .more span {
        display: none;
    }
    .book .book_wrap .more::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_766' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_766)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%23351904'/%3E%3C/g%3E%3C/svg%3E%0A");
        top: 7px;
        right: 6px;
        width: 20px;
        height: 20px;
    }
}/*@media*/

.interview {
    padding: 200px 0 0 0;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.interview .list {
    margin: 40px 0 0 0;
}
.interview .list ul {
    display: flex; /* li를 좌우로 */
    justify-content: space-evenly;
}
.interview .list ul li {
    width: calc(33.33% - 56px);
    /* 100 / 한줄에 나오는 li 갯수 = 33.33 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 132 / 3 = */
}
.interview .list ul li:nth-child(2) {
    margin: 20px 0 0 0; /*li중 2번째만*/
}
.interview .list ul li a {
    display: block;
    position: relative; /* txt, txt_over */
}
.interview .list ul li a .photo {
    position: relative;
    overflow: hidden;
    height: 420px;
    border-radius: 50px 0 50px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px; /*li중 2번째만*/
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 10;
    /* 값이 높으면 먼저 작동 무게 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    transition: 0.5s;
}
.interview .list ul li a .photo img {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.interview .list ul li a .txt {
    position: absolute; /* a */
    left: 30px;
    bottom: 35px;
    z-index: 11;
    /* z-index는 숫자가 높은게 위 */
    width: calc(100% - 65px);
    opacity: 1;
    transition: 0.5s;
}
.interview .list ul li a .txt::after {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_851' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect width='50' height='50' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_851)'%3E%3Cpath d='M23.9585 41.6673V26.0423H8.3335V23.959H23.9585V8.33398H26.0418V23.959H41.6668V26.0423H26.0418V41.6673H23.9585Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.interview .list ul li a .txt strong {
    font-size: 25px;
    color: #fff;
}
.interview .list ul li a .txt_over {
    position: absolute; /* a */
    left: 0;
    bottom: -80px;
    background-color: #66351A;
    color: #fff;
    z-index: 12;
    border-radius: 50px 0 50px 0;
    width: calc(100% - 20px);
    padding: 22px 33px;
    opacity: 0;
    transition: 0.5s; /* 투명도로 숨기고 나타날때 부드럽게 */
}
.interview .list ul li:nth-child(2) a .txt_over {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .txt_over h3 {
    font-size: 25px;
}
.interview .list ul li a .txt_over p {
    /* 2줄로 제한하고 끝에 ...추가코드 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 10px 0;
    /* 2줄 제한 padding 사용불가 행간(1.5) x 2 = 3em*/
    height: 3em;

    word-break: normal;
}
.interview .list ul li a .txt_over span {
    display: flex;
    justify-content: flex-end;
    padding: 0 24px 0 0;
    position: relative;
    transition: 0.5s;
}
.interview .list ul li a .txt_over span::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_85_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_85_15)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
}
.interview .more {
    display: none;
}
@media screen and (min-width:641px) {
    .interview .list ul li a:hover .photo::before {
        opacity: 0;
    }
    .interview .list ul li a:hover .photo img {
        filter: grayscale(0);
    }
    .interview .list ul li a:hover .txt {
        opacity: 0;
    }
    .interview .list ul li a:hover .txt_over {
        opacity: 1;
        bottom: -40px;
    }
}/*@media*/
@media screen and (max-width:640px) {
    .interview {
        padding: 100px 0 0 0;
    }
    .interview .wrapper {
        position: relative;
    }
    .interview .tit {
        text-align: left;
    }
    .interview .tit h2 {
        font-size: 28px;
        margin: 0;
    }
    .interview .tit p {
        display: none;
    }
    .interview .list {
        margin: 30px 0 0 0;
    }
    .interview .list ul {
        display: block;
    }
    .interview .list ul li {
        width: auto;
    }
    .interview .list ul li:nth-child(2),
    .interview .list ul li:nth-child(3) {
        display: none; /* 2-3번 숨김 */
    }
    .interview .list ul li a .photo {
        position: relative;
        overflow: hidden;
        height: 369px;
        border-radius: 25px 0 25px 0;
    }
    .interview .list ul li a .photo::before {
        display: none;
    }
    .interview .list ul li a .photo img {
        filter: grayscale(0);
    }
    .interview .list ul li a .txt {
        display: none;
    }
    .interview .list ul li a .txt_over {
        bottom: -54px;
        width: 94.35%;
        border-radius: 25px 0 25px 0;
        padding: 30px 25px;
        opacity: 1;
    }
    .interview .list ul li a .txt_over h3 {
        font-size: 22px;
    }
    .interview .list ul li a .txt_over span {
        display: inline-block;
        padding: 0 22px 0 0;
    }
    .interview .list ul li a .txt_over span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_90_21' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='22'%3E%3Crect width='21.0621' height='21.0621' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_90_21)'%3E%3Cpath d='M9.87328 11.1887H4.82715V9.8723H9.87328V4.82617H11.1897V9.8723H16.2358V11.1887H11.1897V16.2348H9.87328V11.1887Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        width: 21px;
        height: 21px;
        top: 1px;
        left: auto;
    }
    .interview .more {
        display: block;
        position: absolute;
        top: 3px;
        right: 0;
        width: 33px;
        height: 33px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_766' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_766)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%23351904'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #ECDDCE;
        border-radius: 50%;
    }
    .interview .more span {
        display: none;
    }
}/*@media*/

.serise {
    margin: 200px 0 0 0;
    padding: 200px 0 0 0;
}
.serise .wrapper {
    position: relative; /* more */
}
.serise .tit {
    font-size: 40px;
    color: #1d1d1d;
}
.serise .list {
    margin: 40px 0 0 0;
}
.serise .list ul {
    display: flex; /* li */
    justify-content: space-between;
}
.serise .list ul li {
    width: calc(25% - 18px);
    /* 100/한줄에 보이는 li의 갯수 = 25%
       한줄의 여백의 총합 / 한줄에 보이는 li개수 = 24*3 (72) / 4 = 18*/
}
.serise .list ul li a {
    display: block;
}
.serise .list ul li a .photo {
    overflow: hidden;
    height: 272px; /* 짧은거 */
}
.serise .list ul li.long a .photo {
    height: 350px; /* 긴거 */
}
.serise .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.serise .list ul li a .txt {
    margin: 20px 0 0 0;
}
.serise .list ul li a .txt strong {
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.serise .list ul li a .txt h3 {
    margin: 5px 0 10px 0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.serise .list ul li a .txt p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    overflow: hidden;
    height: 7.5em;

    word-break: normal;
}
.serise .list ul li.long a .txt p {
    -webkit-line-clamp: 2;
    height: 3.0em;
}
.serise .more {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 0 20px 0 0;
}
.serise .more::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_1120' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_1120)'%3E%3Cpath d='M9.37467 10.6257H4.58301V9.37565H9.37467V4.58398H10.6247V9.37565H15.4163V10.6257H10.6247V15.4173H9.37467V10.6257Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (min-width:641px) {
    .serise .list ul li a:hover .photo img {
        transform: scale3D(1.1, 1.1, 1);
    }
    .serise .list ul li a .txt h3 span {
        position: relative; /* after 정렬의 기준 */
    }
    .serise .list ul li a .txt h3 span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #1d1d1d;
        transition: 0.5s;
    }
    .serise .list ul li a:hover .txt h3 span::after {
        width: 100%; /* 오버시 0에서 100% span태그 기준*/
    }
    .serise .more::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        transition: 0.5s;
        background-color: #3d3d3d;
    }
    .serise .more:hover::before {
        width: 100%;
    }
}/*@media*/
@media screen and (max-width:640px) {
    .serise {
        margin: 100px 0 0 0;
        padding: 100px 0 0 0;
    }
    .serise .tit {
        font-size: 28px;
    }
    .serise .list {
        margin: 0;
    }
    .serise .list ul {
        display: block;
    }
    .serise .list ul li {
        width: auto;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
    }
    .serise .list ul li:first-child a {
        border-top: 1px solid #ccc;
        padding: 20px 0 0 0;
    }
    .serise .list ul li a {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .serise .list ul li a .photo {
        /* width: 35%; */
        width: 112px; /*사진 크기 고정*/
        overflow: hidden;
        height: 87px; /* 짧은거 */
    }
    .serise .list ul li.long a .photo {
        height: 87px; /* 긴거 */
    }
    .serise .list ul li a .txt {
        margin: 0;
        /* width: 58.75%; */
        width: calc(100% - 188px) /*글자 여백 고정*/
    }
    .serise .list ul li a .txt strong {
        /* 1줄제한 -> 여러줄 허용 */
        white-space: normal; /* 여러줄 허용 */
        overflow: visible; /* 넘치는 요소 표시 */
    }
    .serise .list ul li a .txt h3 {
        margin: 5px 0 0 0;
        font-size: 16px;
        white-space: normal;
        overflow: visible;
    }
    .serise .list ul li a .txt p {
        display: none;
    }
    .serise .more {
        top: 3px;
        left: auto;
        right: 20px;
        padding: 0;
        width: 33px;
        height: 33px;
        background-color: #ECDDCE;
        border-radius: 50%;
    }
    .serise .more span {
        display: none;
    }
    .serise .more::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_766' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_766)'%3E%3Cpath d='M9.37516 10.6257H4.5835V9.37565H9.37516V4.58398H10.6252V9.37565H15.4168V10.6257H10.6252V15.4173H9.37516V10.6257Z' fill='%23351904'/%3E%3C/g%3E%3C/svg%3E%0A");
        top: 7px;
        right: 6px;
        width: 20px;
        height: 20px;
    }
}/*@media*/

footer {
    margin: 200px 0 0 0;
    padding: 200px 0 200px 0;
    color: #fff;
    background-color: #000;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
footer .slogan {
    font-size: 30px;
}
footer .f_info address {
    margin: 0 0 62px 0;
}
footer .f_info h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
}
footer .f_info .tel {
    margin: 0 0 62px 0;
}
footer .f_info .sns {
    display: flex;
    gap: 23px;
}
footer .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
}
footer .copyright .f_logo {
    margin: 0 0 15px 0;
}
footer .copyright .f_logo img {
    width: 190px;
}
@media screen and (min-width:641px) {
    footer .f_info .sns li a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}
@media screen and (max-width:640px) {
    footer {
        margin: 70px 0 0 0;
        padding: 70px 0 70px 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .slogan {
        font-size: 20px;
        margin: 0 0 70px 0;
        word-wrap: normal;
        word-break: normal;
    }
    footer .slogan br {
        display: none;
    }
    footer .f_info address {
        margin: 0 0 20px 0;
    }
    footer .f_info h3 {
        font-size: 18px;
        margin: 0 0 5px 0;
    }
    footer .f_info .tel {
        margin: 0 0 20px 0;
    }
    footer .copyright {
        position: relative;
        left: auto;
        top: auto;
        width: 129px;
    }
    footer .copyright .f_logo {
        margin: 70px 0 10px 0;
    }
    footer .copyright .f_logo img {
        width: 129px;
    }
}