@import url(default.css);
@import url(common_full.css);
@import url(font.css);

.skip_nav {
    position: absolute; /* body를 기준 */
    left: 0;
    top: 0;
    width: 100%;
}
.skip_nav:focus {
    top: 0;
}
.skip_nav a {
    position: absolute; /*skip_nav*/
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    padding: 20px 0;
    color: #fff;
    background-color: #0539BD;
    text-align: center;
    z-index: 999;
}
.skip_nav a:focus {
    top: 0;
}

header {
    position: fixed; /* body을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    color: #fff;
}
header .wrapper {
    display: flex; /* logo,gnb,util을 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 190px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util .search .search_open {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_12)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%23ffffff' fill-opacity='0.866667'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
/* header에 fixed 클래스 추가 시 */
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05)
}
header.fixed .logo a {
    background: url(../images/logo.svg) no-repeat center center / contain;
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_12)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%23000000' fill-opacity='0.866667'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px) {
    /*@@@@@@@@@@@@@@@ 1025이상 pc버전 메뉴 @@@@@@@@@@@@@@@@*/
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* 1차메뉴 li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 130px;
        text-align: center;
        position: relative; /* depth2 정렬 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        line-height: 80px; /* header의 높이 만큼 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        /* 꼭 absolute */
        position: absolute; /* li를 기준으로 정렬 */
        left: 0;
        top: 80px; /* 1차메뉴 a의 높이만큼만 들어가야함 */
        width: 100%;
        display: none;
        padding: 30px 0 0 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 7px 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #ff8000;
    }

    header .gnb .gnb_wrap ul.depth1 > li:last-child > ul.depth2 > li:last-child > a {
    
    }

    /********** 메뉴에 마우스를 오버했을때 **********/
    header.menu_over {
        color: #1d1d1d;
    }
    header.menu_over::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /*  
            position이 들어간 요소와 안들어간 요소가 겹치면 position 속성이 있는 요소가 위
            position 속성이 있는 요소끼리 순서끼리 순서를 정할때는 z-index가 높은 요소가 위
            위로 배치되어야 할 요소한테 모두 position, z-index를 주기 어려울 경우
            >> z-index: -1을 주면 position이 없는 요소보다도 아래 배치..
               내정렬의 기준 안에서 맨 아래
            >> header에 border를 줬음 header::before 한테 z-index를 주고 배경색을 줌 
               header에 준 border보다 before가 위에 있음 border 안보임
        */
        width: 100%;
        height: 250px;
        background-color: #fff;
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    header.menu_over .logo a {
        background: url(../images/logo.svg) no-repeat center center / contain;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a{
        color: #ff8000;
        font-weight: 700;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span {
        position: relative; /* after 정렬 */
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span::after {
        content: "";
        position: absolute; /* span태그를 기준으로 정렬 */
        left: 0;
        bottom: -29px;
        z-index: 1;
        width: 100%;
        height: 3px;
        background-color: #ff8000;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* none -> block */
    }
    header.menu_over .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_12)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%23000000' fill-opacity='0.866667'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*@media*/
@media screen and (max-width:1024px) {
    /*@@@@@@@@ 모바일 스타일 @@@@@@@@*/
    header {
        height: 56px;
    }
    header .wrapper {
        margin-right: 0;
    }
    header .logo a {
        width: 96px;
        height: 15px;
    }
    header .util {
        display: none;
    }

    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_61)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap {
        display: none; /* 숨김 */
        position: fixed; /* body를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 56px 0 0 0;
        height: calc(100% - 56px);
        overflow-x: hidden; /* 좌우 스크롤바 숨김 */
        overflow-y: auto; /* 감싸는 영역보다 내부요소가 더 길면 스크롤 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ccc;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #ccc;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 20px 16px 20px 20px;
        font-size: 20px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 20px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_66' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_66)'%3E%3Cpath d='M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #f4f4f4;
        color: #555;
        padding: 12px 41px 12px 41px;
        display: none; /* 열린 메뉴에서만 나타남 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 7px 0;
    }
    header .gnb .gnb_close {
        display: none; /* 숨김 */
        position: fixed;
        right: 0;
        top: 0;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_51' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_51)'%3E%3Cpath d='M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
    }
    /* header에 fixed 클래스 추가 시 */
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1_61)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    /* 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_wrap {
        display: block; /* 나타남 */
    }
    header.menu_open .gnb .gnb_close {
        display: block; /* 나타남 */
    }
    header.menu_open .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #ff8000;
        font-weight: 700;
    }
    header.menu_open .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_24_83' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_83)'%3E%3Cpath d='M12 10.8L7.4 15.4L6 14L12 8L18 14L16.6 15.4L12 10.8Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header.menu_open .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block; /* 나타남 */
    }
}
.visual {
    height: 100dvh;
    background: url(../images/visual_bg2.jpg) no-repeat center center / cover;
    color: #fff;
    position: relative;
}
.visual p {
    font-size: 40px;
    font-weight: 700;
    padding: 40vh 0 0 0;
}
.visual span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media screen and (max-width:768px) {
    .visual p {
        font-size: 25px;
    }
}

footer {
    margin: 2000px 0 500px 0;
}