@import url(default.css);
@import url(font.css);
@import url(res_common.css);

.news {
    margin: 176px 0 0 0;
}
.news .wrapper {
    display: flex; /* h2/list (more는 absolute) */
    justify-content: space-between;
    position: relative;
}
.news h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
}
.news .list {
    width: 74.52%;
    /*
        넓이는 %로 계산
        콘텐츠 넓이에서 몇 %로 계산
        939 / 1260 * 100 = 74.52
    */
}
.news .list ul li {
    border-bottom: 1px solid #ccc;
}
.news .list ul li a {
    display: flex; /* txt/photo 좌우 배치 */
    justify-content: space-between; /* 양끝 */
    align-items: center; /* 위아래 가운데 */
    padding: 25px 0;
}
.news .list ul li a .txt {
    width: calc(100% - 214px);
    /* 사진의 넓이는 고정, 
       제목이 들어갈 수 있는 넓이는 브라우저 넓이에 따라 바뀜
       글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값 px
    */
}
.news .list ul li a .txt strong {
    font-size: 20px;
    color: #1d1d1d;
    display: block;
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list ul li a .photo {
    width: 190px;
    height: 122px;
    overflow: hidden;
    border-radius: 10px;
}
.news .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .more {
    position: absolute;
    top: 75px;
    left: 0;
    padding: 4px 32px 4px 15px;
    border: 1px solid #555;
    border-radius: 2px;
}
.news .more::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_50' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_50)'%3E%3Cpath d='M9.37504 10.6249H4.58337V9.37492H9.37504V4.58325H10.625V9.37492H15.4167V10.6249H10.625V15.4166H9.37504V10.6249Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 짤림 방지 */
    transition: 0.5s;
}
.news .more:hover::after {
    transform: rotate(180deg);
}

@media screen and (max-width:640px) { /* 브라우저 사이즈가 640px 이하일때 적용됨*/
    .news {
        margin: 83px 0 0 0;
    }
    .news .wrapper {
        display: block;
    }
    .news h2 {
        font-size: 25px;
        color: #1d1d1d;
    }
    .news .list {
        width: auto;
        /*
            auto
        */
        margin: 30px 0 0 0;
    }
    .news .list ul li a {
        align-items: flex-start;
        padding: 27px 0;
    }
    .news .list ul li a .txt {
        width: calc(100% - 112px);
        /* 사진의 넓이는 고정, 
           제목이 들어갈 수 있는 넓이는 브라우저 넓이에 따라 바뀜
           글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값 px
        */
    }
    .news .list ul li a .txt strong {
        font-size: 16px;
        margin: 0 0 13px 0;

        /* 1줄제한 -> 무제한 모바일만*/
        white-space: normal; /* nowrap 해제 */
        overflow: visible; /* hidden 해제 */
    }
    .news .list ul li a .photo {
        width: 96px;
        height: 62px;
        border-radius: 6px;
    }
    .news .more {
        font-size: 16px;
        top: 0;
        left: auto;
        right: 0;
    }
}/*@media*/

.global {
    margin: 134px 0 0 0;
}
.global .wrapper {
    display: flex; /* txt/photo 좌우 배치 */
    justify-content: space-between;
}
.global .txt {
    width: calc(50% - 12px);
    /* 2개니까 50%에 둘 사이 여백의 절반 */
    padding: 31px 0;
    /* 왼쪽글자의 높이에서 padding만큼 오른쪽 이미지가 늘어남 */
}
.global .txt h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 17px 0;
    position: relative;
}
.global .txt h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 107px;
    height: 1px;
    background-color: #ccc;
}
.global .photo {
    width: calc(50% - 12px);
    overflow: hidden;
    border-radius: 20px;
}
.global .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:640px) {
    .global {
        margin: 68px 0 0 0;
    }
    .global .txt {
        width: calc(50% - 8px);
        /* 2개니까 50%에 둘 사이 여백의 절반 */
        padding: 14px 0;
        /* 왼쪽글자의 높이에서 padding만큼 오른쪽 이미지가 늘어남 */
    }
    .global .txt h2 {
        font-size: 20px;
        margin: 0 0 12px 0;
    }
    .global .txt h2 br {
        display: none; /* br태그 삭제 */
    }
    .global .txt p br {
        display: none;
    }
    .global .txt h2::after {
        bottom: -6px;
        width: 56px;
    }
    .global .photo {
        width: calc(50% - 8px);
        border-radius: 10px;
    }
}/*@media*/

.esg {
    margin: 222px 0 0 0;
}
.esg .tit h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 12px 0;
}
.esg .list {
    margin: 53px 0 0 0;
}
.esg .list ul {
    display: flex;
    justify-content: space-between;
}
.esg .list ul li {
    width: calc(25% - 18px);
}
.esg .list ul li a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 0 0 40px 0;
}
.esg .list ul li.list01 a {
    background-image: url(../images/esg_bg1.jpg);
}
.esg .list ul li.list02 a {
    background-image: url(../images/esg_bg2.jpg);
}
.esg .list ul li.list03 a {
    background-image: url(../images/esg_bg3.jpg);
}
.esg .list ul li.list04 a {
    background-image: url(../images/esg_bg4.jpg);
}
@media screen and (max-width:640px) {
    .esg {
        margin: 136px 0 0 0;
    }
    .esg .tit h2 {
        font-size: 20px;
        margin: 0 0 9px 0;
    }
    .esg .list {
        margin: 29px 0 0 0;
    }
    .esg .list ul {
        flex-wrap: wrap; /* 2 줄 허용 */
        gap: 16px;
    }
    .esg .list ul li {
        width: calc(50% - 8px);
        /*100% / 1줄에 나오는 갯수 = 100 / 2 = 50%
          1줄여백의 총합 /1줄에 나오는 갯수 = 16 / 2 = 5 */
    }
    .esg .list ul li a {
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 152px;
        border-radius: 10px;
        padding: 0; /* 여백삭제 */
    }
}/*@media*/

.esg_fix {
    margin: 237px 0 0 0;
}
.esg_fix .wrapper {
    display: flex; /* tit/list */
    justify-content: space-between;
    align-items: flex-start;
}
.esg_fix .tit {
    width: 23%;
    /*
        297px / 1260 * 100 = 23% 
    */
    position: sticky;
    top: 20px;
}
.esg_fix .list {
    width: 57.54%;
    /* 725px / 1260 * 100 = 57.54*/
}
.esg_fix .list ul li a {
    display: block;
    height: 450px;
}
.esg_fix .list ul li.list01 a {
    background-image: url(../images/esg_bg1.jpg);
}
.esg_fix .list ul li.list02 a {
    background-image: url(../images/esg_bg2.jpg);
}
.esg_fix .list ul li.list03 a {
    background-image: url(../images/esg_bg3.jpg);
}
.esg_fix .list ul li.list04 a {
    background-image: url(../images/esg_bg4.jpg);
}

body {
    margin: 0 0 300px 0;
}