@import url(default.css);
@import url(common_full.css);
@import url(font.css);

/* .visual .swiper {
    height: 800px;
} */
.visual .swiper-slide {
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup01 {
    background-image: url(../images/popup01.jpg);
}
.visual .swiper-slide.popup02 {
    background-image: url(../images/popup02.jpg);
}
.visual .swiper-slide.popup03 {
    background-image: url(../images/popup03.jpg);
}
.visual h3 {
    font-size: 40px;
    font-weight: 700;
    padding: 339px 0 10px 0;
}
.visual .paging {
    position: absolute; /*swiper*/
    left: 0;
    bottom: 30px;
    width: 100%;
    z-index: 10;
    display: flex; /* span태그 좌우 배치*/
    justify-content: center; /* 가운데 */
    gap: 7px;
}
.visual .paging .swiper-pagination-bullet { /* 동그라미 기본 스타일*/
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0;
    background: 0;
    opacity: 1;
}
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active { /* 현재 팝업 동그라미 */
    background-color: #fff;
}
.visual .btn_prev {
    position: absolute; /* swiper */
    top: 372px;
    left: 20px;
    width: 56px;
    height: 56px;
    z-index: 10;
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_104_83' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='56' height='56'%3E%3Crect width='56' height='56' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_104_83)'%3E%3Cpath d='M18.2585 30.3335L31.3252 43.4002L28.0002 46.6668L9.3335 28.0002L28.0002 9.3335L31.3252 12.6002L18.2585 25.6668H46.6668V30.3335H18.2585Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_next {
    position: absolute; /* swiper */
    top: 372px;
    right: 20px;
    width: 56px;
    height: 56px;
    z-index: 10;
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_104_83' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='56' height='56'%3E%3Crect width='56' height='56' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_104_83)'%3E%3Cpath d='M18.2585 30.3335L31.3252 43.4002L28.0002 46.6668L9.3335 28.0002L28.0002 9.3335L31.3252 12.6002L18.2585 25.6668H46.6668V30.3335H18.2585Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

@media screen and (max-width:1440px) {
    .visual .btn_prev,
    .visual .btn_next {
        display: none; /* 숨김 */
    }
}/*@media*/
@media screen and (max-width:768px) {
    .visual .swiper-slide {
        height: 600px;
    }
    .visual h3 {
        font-size: 30px;
        font-weight: 700;
        padding: 129px 0 10px 0;
        line-height: 1.2;
    }
}/*@media*/

.biz {
    margin: 150px 0 0 0;
}
.biz .tit h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.biz .list {
    margin: 30px 0 0 0;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 297px;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    color: #1d1d1d;
}
@media screen and (max-width:768px) {
    .biz {
        margin: 100px 0 0 0;
    }
    .biz .tit h2 {
        font-size: 30px;
    }
    .biz .list {
        margin: 10px 0 0 0;
    }
    .biz .list ul li a .photo {
        height: 264px;
    }
    .biz .list ul li a h3 {
        font-size: 20px;
        margin: 10px 0 5px 0;
    }
}

.notice {
    background-color: #0052BE;
    color: #fff;
    padding: 150px 0 178px 0;
    margin: 200px 0 0 0;
}
.notice .tit h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.notice .tit h2 br {
    display: none;
}
.notice .list {
    margin: 47px 0 0 0;
    width: calc(50% + 630px);
    /* wrapper 사이즈 1260px의 절반 630px 더함 */
    position: relative;
    left: calc(50% - 630px);
}
.notice .list ul li a {
    display: block;
    background-color: #fff;
    color: #555;
    border-radius: 20px;
}
.notice .list ul li {
    width: 404px;
}
.notice .list ul li a .photo {
    overflow: hidden;
    height: 532px;
    border-radius: 20px 20px 0 0;
}
.notice .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .list ul li a .txt {
    padding: 41px 34px;
}
.notice .list ul li a .txt h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
@media screen and (max-width:1300px) {
    .notice .list {
        width: calc(100% - 20px);
        left: 20px;
    }
}/*@media*/
@media screen and (max-width:768px) {
    .notice {
        padding: 100px 0 100px 0;
        margin: 100px 0 0 0;
    }
    .notice .tit h2 {
        font-size: 30px;
    }
    .notice .tit h2 br {
        display: block;
    }
    .notice .list {
        margin: 10px 0 0 0;
    }
    .notice .list ul li a {
        border-radius: 10px;
    }
    .notice .list ul li {
        width: 264px;
    }
    .notice .list ul li a .photo {
        height: 305px;
        border-radius: 10px 10px 0 0;
    }
    .notice .list ul li a .txt {
        padding: 25px 30px;
    }
    .notice .list ul li a .txt h3 {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
}/*@media*/
footer {
    margin: 1000px 0 0 0;
}