@font-face {
	font-family: "NanumSquare-Neo";
	font-weight: 400;
	font-display: swap;
	src: url(../font/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"),
         url(../font/NanumSquareNeoTTF-bRg.woff2) format("woff2"),
         url(../font/NanumSquareNeoTTF-bRg.woff) format("woff");
}

@font-face {
	font-family: "NanumSquare-Neo";
	font-weight: 700;
	font-display: swap;
	src: url(../font/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"),
         url(../font/NanumSquareNeoTTF-cBd.woff2) format("woff2"),
         url(../font/NanumSquareNeoTTF-cBd.woff) format("woff");
}
