@import url(default.css);
@import url(font.css);
@import url(common.css);
/* index페이지 - 메인페이지만 적용되는 스타일 정의
   그리고 다른 css를 호출 */
header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* position 속성의 우선순위 (층수) */
    color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* h1 nav tnb를 좌우에 배치 */
    justify-content: space-between;
    padding: 0 50px;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 0 28px; /* 위 아래 좌우 */
    line-height: 100px; /* header의 높이와 같은 값 */
    font-size: 22px;
    font-weight: 700;
}
header .tnb {
    display: flex; /* a를 좌우로 배치 */
    gap: 15px;
}
header .tnb a {
    display: block;
    position: relative; /* before 정렬의 기준 */
    font-size: 17px;
    padding: 24px 0 0 0 /* 글자 아래로 이동 - 아이콘 들어갈 자리를 padding 여백 */
}
header .tnb a::before {
    content: ""; /* 가상선택자의 필수값 */
    position: absolute; /* a를 기준으로 정렬 */
    /* absolute 가운데 */
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
header .tnb a.icon01::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_97' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_97)'%3E%3Cpath d='M11 5V1H13V5H11ZM17.65 7.75L16.25 6.35L19.075 3.5L20.475 4.925L17.65 7.75ZM19 13V11H23V13H19ZM19.075 20.475L16.25 17.65L17.65 16.25L20.5 19.05L19.075 20.475ZM6.35 7.75L3.525 4.925L4.95 3.5L7.75 6.35L6.35 7.75ZM6 19H10.5C10.9167 19 11.2708 18.8542 11.5625 18.5625C11.8542 18.2708 12 17.9167 12 17.5C12 17.0833 11.8583 16.7292 11.575 16.4375C11.2917 16.1458 10.9417 16 10.525 16H9.25L8.75 14.8C8.51667 14.25 8.15 13.8125 7.65 13.4875C7.15 13.1625 6.6 13 6 13C5.16667 13 4.45833 13.2917 3.875 13.875C3.29167 14.4583 3 15.1667 3 16C3 16.8333 3.29167 17.5417 3.875 18.125C4.45833 18.7083 5.16667 19 6 19ZM6 21C4.61667 21 3.4375 20.5125 2.4625 19.5375C1.4875 18.5625 1 17.3833 1 16C1 14.6167 1.4875 13.4375 2.4625 12.4625C3.4375 11.4875 4.61667 11 6 11C7 11 7.9125 11.2708 8.7375 11.8125C9.5625 12.3542 10.175 13.0833 10.575 14C11.5417 14 12.3542 14.3583 13.0125 15.075C13.6708 15.7917 14 16.65 14 17.65C13.9667 18.6 13.6125 19.3958 12.9375 20.0375C12.2625 20.6792 11.45 21 10.5 21H6ZM14 17.65C13.9167 17.3167 13.8333 16.9917 13.75 16.675C13.6667 16.3583 13.5833 16.0333 13.5 15.7C14.25 15.3833 14.8542 14.8917 15.3125 14.225C15.7708 13.5583 16 12.8167 16 12C16 10.9 15.6083 9.95833 14.825 9.175C14.0417 8.39167 13.1 8 12 8C11 8 10.125 8.325 9.375 8.975C8.625 9.625 8.18333 10.45 8.05 11.45C7.71667 11.3667 7.375 11.2917 7.025 11.225C6.675 11.1583 6.33333 11.0833 6 11C6.23333 9.53333 6.92083 8.33333 8.0625 7.4C9.20417 6.46667 10.5167 6 12 6C13.6667 6 15.0833 6.58333 16.25 7.75C17.4167 8.91667 18 10.3333 18 12C18 13.2833 17.6333 14.4375 16.9 15.4625C16.1667 16.4875 15.2 17.2167 14 17.65Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon02::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_101' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_101)'%3E%3Cpath d='M3.79993 22H2.99993V20H3.79993C4.59993 20 5.36243 19.9125 6.08743 19.7375C6.81243 19.5625 7.62493 19.2833 8.52493 18.9C9.15827 19.2167 9.71243 19.4792 10.1874 19.6875C10.6624 19.8958 11.2666 20 11.9999 20C12.7333 20 13.3374 19.8958 13.8124 19.6875C14.2874 19.4792 14.8416 19.2167 15.4749 18.9C16.3583 19.2833 17.1708 19.5625 17.9124 19.7375C18.6541 19.9125 19.4249 20 20.2249 20H20.9999V22H20.2249C19.4083 22 18.6124 21.925 17.8374 21.775C17.0624 21.625 16.2999 21.4 15.5499 21.1C14.8833 21.4167 14.2749 21.6417 13.7249 21.775C13.1749 21.9083 12.5999 21.975 11.9999 21.975C11.3999 21.975 10.8291 21.9083 10.2874 21.775C9.74577 21.6417 9.1416 21.4167 8.47493 21.1C7.72493 21.4 6.96243 21.625 6.18743 21.775C5.41243 21.925 4.6166 22 3.79993 22ZM11.9999 18C10.9999 18 10.1249 17.6667 9.37493 17L8.24993 16C7.79993 16.45 7.29577 16.8333 6.73743 17.15C6.1791 17.4667 5.58327 17.6917 4.94993 17.825L2.82493 11C2.7416 10.7167 2.7666 10.4583 2.89993 10.225C3.03327 9.99167 3.2416 9.83333 3.52493 9.75L4.99993 9.35V6C4.99993 5.45 5.19577 4.97917 5.58743 4.5875C5.9791 4.19583 6.44993 4 6.99993 4H9.49993V2H14.4999V4H16.9999C17.5499 4 18.0208 4.19583 18.4124 4.5875C18.8041 4.97917 18.9999 5.45 18.9999 6V9.35L20.4749 9.75C20.7583 9.83333 20.9666 9.99167 21.0999 10.225C21.2333 10.4583 21.2583 10.7167 21.1749 11L19.0499 17.825C18.4166 17.6917 17.8208 17.4667 17.2624 17.15C16.7041 16.8333 16.1999 16.45 15.7499 16L14.6249 17C13.8749 17.6667 12.9999 18 11.9999 18ZM12.0499 16C12.5666 16 13.0249 15.8292 13.4249 15.4875C13.8249 15.1458 14.1916 14.7833 14.5249 14.4L15.6749 13.075L16.6999 14.125C16.8833 14.3083 17.0708 14.4792 17.2624 14.6375C17.4541 14.7958 17.6416 14.9583 17.8249 15.125L18.9749 11.4L11.9999 9.575L5.04993 11.4L6.19993 15.125C6.38327 14.9583 6.57077 14.7958 6.76243 14.6375C6.9541 14.4792 7.1416 14.3083 7.32493 14.125L8.34993 13.075L9.49993 14.4C9.83327 14.8 10.2083 15.1667 10.6249 15.5C11.0416 15.8333 11.5166 16 12.0499 16ZM6.99993 8.825L11.9999 7.5L16.9999 8.825V6H6.99993V8.825Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon03::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_93' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_93)'%3E%3Cpath d='M2 21V19C2.63333 19 3.2 18.8792 3.7 18.6375C4.2 18.3958 4.74167 18.0583 5.325 17.625C5.825 18.0417 6.37083 18.3708 6.9625 18.6125C7.55417 18.8542 8.125 18.975 8.675 18.975C9.225 18.975 9.8 18.8583 10.4 18.625C11 18.3917 11.5417 18.0583 12.025 17.625C12.5583 18.0917 13.1083 18.4333 13.675 18.65C14.2417 18.8667 14.8083 18.975 15.375 18.975C15.925 18.975 16.4625 18.8667 16.9875 18.65C17.5125 18.4333 18.0917 18.0917 18.725 17.625C19.375 18.125 19.95 18.4792 20.45 18.6875C20.95 18.8958 21.4667 19 22 19V21C21.4167 21 20.8542 20.9208 20.3125 20.7625C19.7708 20.6042 19.2417 20.375 18.725 20.075C18.1917 20.4083 17.6375 20.6458 17.0625 20.7875C16.4875 20.9292 15.925 21 15.375 21C14.825 21 14.2625 20.9292 13.6875 20.7875C13.1125 20.6458 12.5583 20.4083 12.025 20.075C11.5417 20.3917 11.0083 20.625 10.425 20.775C9.84167 20.925 9.25833 21 8.675 21C8.10833 21 7.54167 20.925 6.975 20.775C6.40833 20.625 5.85833 20.3917 5.325 20.075C4.80833 20.375 4.27083 20.6042 3.7125 20.7625C3.15417 20.9208 2.58333 21 2 21ZM2 16.5V14.5C2 12.8833 2.3125 11.375 2.9375 9.975C3.5625 8.575 4.41667 7.35833 5.5 6.325C6.58333 5.29167 7.85417 4.47917 9.3125 3.8875C10.7708 3.29583 12.3333 3 14 3C14.55 3 15.0958 3.02917 15.6375 3.0875C16.1792 3.14583 16.6667 3.225 17.1 3.325C16.75 3.85833 16.4792 4.42083 16.2875 5.0125C16.0958 5.60417 16 6.15833 16 6.675C16 7.59167 16.325 8.375 16.975 9.025C17.625 9.675 18.4083 10 19.325 10H22V12H19.325C17.8417 12 16.5833 11.4833 15.55 10.45C14.5167 9.41667 14 8.15833 14 6.675C14 6.44167 14.0167 6.19583 14.05 5.9375C14.0833 5.67917 14.1333 5.425 14.2 5.175C12.9667 5.475 11.9583 6.1125 11.175 7.0875C10.3917 8.0625 10 9.2 10 10.5C10 11.1 10.0958 11.6708 10.2875 12.2125C10.4792 12.7542 10.75 13.2667 11.1 13.75C11.2333 13.6667 11.375 13.5708 11.525 13.4625C11.675 13.3542 11.8333 13.2417 12 13.125C12.4833 13.5583 13.0417 13.8917 13.675 14.125C14.3083 14.3583 14.875 14.475 15.375 14.475C15.875 14.475 16.4333 14.3542 17.05 14.1125C17.6667 13.8708 18.225 13.5417 18.725 13.125C19.2583 13.525 19.7875 13.8542 20.3125 14.1125C20.8375 14.3708 21.4 14.5 22 14.5V16.5C21.4167 16.5 20.8542 16.4208 20.3125 16.2625C19.7708 16.1042 19.2417 15.875 18.725 15.575C18.1917 15.9083 17.65 16.1458 17.1 16.2875C16.55 16.4292 15.975 16.5 15.375 16.5C14.775 16.5 14.175 16.4167 13.575 16.25C12.975 16.0833 12.4583 15.8583 12.025 15.575C11.5083 15.8917 10.9667 16.1208 10.4 16.2625C9.83333 16.4042 9.25833 16.4833 8.675 16.5C8.09167 16.5167 7.51667 16.4417 6.95 16.275C6.38333 16.1083 5.84167 15.875 5.325 15.575C4.80833 15.875 4.27083 16.1042 3.7125 16.2625C3.15417 16.4208 2.58333 16.5 2 16.5ZM8.625 14.475H8.875C8.95833 14.475 9.04167 14.4667 9.125 14.45C8.75833 13.8667 8.47917 13.2417 8.2875 12.575C8.09583 11.9083 8 11.2167 8 10.5C8 9.15 8.30833 7.92917 8.925 6.8375C9.54167 5.74583 10.4 4.85 11.5 4.15V5.25C10.4667 5.51667 9.5125 5.92083 8.6375 6.4625C7.7625 7.00417 6.99583 7.65833 6.3375 8.425C5.67917 9.19167 5.15 10.0458 4.75 10.9875C4.35 11.9292 4.10833 12.9333 4.025 14C4.275 13.85 4.49167 13.7167 4.675 13.6C4.85833 13.4833 5.075 13.325 5.325 13.125C5.94167 13.575 6.5 13.9125 7 14.1375C7.5 14.3625 8.04167 14.475 8.625 14.475Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .logo a {
    display: block;
    width: 155px;
    height: 57px;
    background: url(../images/logo.svg) no-repeat center center / contain;
    /* 로고나 아이콘을 배경으로 지정할때만 contain
       이미지를 배경으로 넣으면 cover */
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;

}
.visual .wrapper {
    height: 100vh; /* 브라우저 높이에 딱 맞게 */
    min-height: 404px;
    /* 높이가 변하는것은 막지 않지만 최소한 404px은 되어야 한다. */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 사진공방은 absolute 라서 제외
       h2만 wrapper의 영역 안에서 정렬하기위해서 flex */
    position: relative; /* picture 정렬의 기준 */
}
.visual .picture {
    position: absolute; /* wrapper를 기준으로 정렬 - before 정렬의 기준 */
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    /* 나의 넓이의 절반을 오른쪽으로 이동 50%, 
       나의 높이의 절반을 아래로 이동 50% */
    width: 144px;
    height: 144px;
    background-color: #fff;
    color: #000285;
    transition: 0.3s;
    border-radius: 50%; /* 동그라미 */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 700;
    padding: 77px 0 0 0;
}
.visual .picture::before {
    content: ""; /* 가상선택자 필수값 */
    position: absolute; /* picture를 기준으로 정렬 */
    top: 38px;
    /* 좌우에 가운데 */
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_156' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_156)'%3E%3Cpath d='M9.74984 15.1665H20.5832L16.8457 10.2915L14.354 13.5415L12.6748 11.3748L9.74984 15.1665ZM8.6665 19.4998C8.07067 19.4998 7.5606 19.2877 7.1363 18.8634C6.71199 18.4391 6.49984 17.929 6.49984 17.3332V4.33317C6.49984 3.73734 6.71199 3.22727 7.1363 2.80296C7.5606 2.37866 8.07067 2.1665 8.6665 2.1665H21.6665C22.2623 2.1665 22.7724 2.37866 23.1967 2.80296C23.621 3.22727 23.8332 3.73734 23.8332 4.33317V17.3332C23.8332 17.929 23.621 18.4391 23.1967 18.8634C22.7724 19.2877 22.2623 19.4998 21.6665 19.4998H8.6665ZM8.6665 17.3332H21.6665V4.33317H8.6665V17.3332ZM4.33317 23.8332C3.73734 23.8332 3.22727 23.621 2.80296 23.1967C2.37866 22.7724 2.1665 22.2623 2.1665 21.6665V6.49984H4.33317V21.6665H19.4998V23.8332H4.33317Z' fill='%23000285'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;

}
.visual .picture:hover {
    background-color: #000285;
    color: #fff;
}
.visual .picture:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_112_94' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_112_94)'%3E%3Cpath d='M9.74984 15.1665H20.5832L16.8457 10.2915L14.354 13.5415L12.6748 11.3748L9.74984 15.1665ZM8.6665 19.4998C8.07067 19.4998 7.5606 19.2877 7.1363 18.8634C6.71199 18.4391 6.49984 17.929 6.49984 17.3332V4.33317C6.49984 3.73734 6.71199 3.22727 7.1363 2.80296C7.5606 2.37866 8.07067 2.1665 8.6665 2.1665H21.6665C22.2623 2.1665 22.7724 2.37866 23.1967 2.80296C23.621 3.22727 23.8332 3.73734 23.8332 4.33317V17.3332C23.8332 17.929 23.621 18.4391 23.1967 18.8634C22.7724 19.2877 22.2623 19.4998 21.6665 19.4998H8.6665ZM8.6665 17.3332H21.6665V4.33317H8.6665V17.3332ZM4.33317 23.8332C3.73734 23.8332 3.22727 23.621 2.80296 23.1967C2.37866 22.7724 2.1665 22.2623 2.1665 21.6665V6.49984H4.33317V21.6665H19.4998V23.8332H4.33317Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1720px) {
    /* 브라우저의 넓이가 1720이하일때만 적용되는 css */
    .visual .picture {
        transform: translate(0%, 50%);
    }
}

.culture {
    margin: 179px 0 0 0;
}
.culture .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 13px 0;
}
.culture .list {
    margin: 46px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(25% - 18.75px);
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    /* block요소라서 넓이 조정되있음 */
    height: 330px;
    overflow: hidden;
    border-radius: 20px;
}
.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    /* 오버효과를 주기전에 동일 선택자 
        transition을 주면 변화되는 값이 부드럽게 바뀜 */
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.culture .list ul li a h3 {
    margin: 36px 0 15px 0;
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
}
.culture .more {
    position: absolute; /* wrapper의 정렬 */
    right: 0;
    top: 105px;
    color: #1d1d1d;
    padding: 0 17px 0 0;
}
.culture .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    top: 4px;
    right: 0;
    width: 10.5px;
    height: 10.5px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6H0.75C0.5375 6 0.359375 5.92812 0.215625 5.78438C0.071875 5.64062 0 5.4625 0 5.25C0 5.0375 0.071875 4.85938 0.215625 4.71562C0.359375 4.57188 0.5375 4.5 0.75 4.5H4.5V0.75C4.5 0.5375 4.57188 0.359375 4.71562 0.215625C4.85938 0.071875 5.0375 0 5.25 0C5.4625 0 5.64062 0.071875 5.78438 0.215625C5.92812 0.359375 6 0.5375 6 0.75V4.5H9.75C9.9625 4.5 10.1406 4.57188 10.2844 4.71562C10.4281 4.85938 10.5 5.0375 10.5 5.25C10.5 5.4625 10.4281 5.64062 10.2844 5.78438C10.1406 5.92812 9.9625 6 9.75 6H6V9.75C6 9.9625 5.92812 10.1406 5.78438 10.2844C5.64062 10.4281 5.4625 10.5 5.25 10.5C5.0375 10.5 4.85938 10.4281 4.71562 10.2844C4.57188 10.1406 4.5 9.9625 4.5 9.75V6Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.culture .more:hover {
    font-weight: 700;
}
.culture .more:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #1d1d1d;
    font-weight: 700;
}

.tour {
    margin: 224px 0 0 0;
    background-color: #f7f7f7;
    padding: 122px 0 122px 0;
}
.tour .wrapper {
    position: relative;
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 13px 0;
}
.tour .list {
    margin: 46px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 202px;
}
.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 423px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 0 0 50px 0;
    border-radius: 10px;
}
.tour .list ul li.list01 a {
    background-image: url(../images/tour_list01.jpg);
}
.tour .list ul li.list02 a {
    background-image: url(../images/tour_list02.jpg);
}
.tour .list ul li.list03 a {
    background-image: url(../images/tour_list03.jpg);
}
.tour .list ul li.list04 a {
    background-image: url(../images/tour_list04.jpg);
}
.tour .list ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.tour .list ul li a p {
    display: none;
}
/* 온 클래스 */
.tour .list ul li.on {
    width: 620px;
}
.tour .list ul li.on a {
    padding: 0 30px 50px 30px;
    align-items: flex-start;
}
.tour .list ul li.on a h3 {
    text-align: left;
    display: inline-block;
    padding: 0 40px 0 0;
    position: relative;
}
.tour .list ul li.on a h3::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    height: 27px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_133_45' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_133_45)'%3E%3Cpath d='M4.0125 11L3.125 10.1125L7.2375 6L3.125 1.8875L4.0125 1L9.0125 6L4.0125 11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.tour .list ul li.on a p {
    display: block; /* on이면 표시 */
    margin: 9px 0 0 0;
}
.tour .more {
    position: absolute; /* wrapper의 정렬 */
    right: 0;
    top: 105px;
    color: #1d1d1d;
    padding: 0 17px 0 0;
}
.tour .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    top: 4px;
    right: 0;
    width: 10.5px;
    height: 10.5px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6H0.75C0.5375 6 0.359375 5.92812 0.215625 5.78438C0.071875 5.64062 0 5.4625 0 5.25C0 5.0375 0.071875 4.85938 0.215625 4.71562C0.359375 4.57188 0.5375 4.5 0.75 4.5H4.5V0.75C4.5 0.5375 4.57188 0.359375 4.71562 0.215625C4.85938 0.071875 5.0375 0 5.25 0C5.4625 0 5.64062 0.071875 5.78438 0.215625C5.92812 0.359375 6 0.5375 6 0.75V4.5H9.75C9.9625 4.5 10.1406 4.57188 10.2844 4.71562C10.4281 4.85938 10.5 5.0375 10.5 5.25C10.5 5.4625 10.4281 5.64062 10.2844 5.78438C10.1406 5.92812 9.9625 6 9.75 6H6V9.75C6 9.9625 5.92812 10.1406 5.78438 10.2844C5.64062 10.4281 5.4625 10.5 5.25 10.5C5.0375 10.5 4.85938 10.4281 4.71562 10.2844C4.57188 10.1406 4.5 9.9625 4.5 9.75V6Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.tour .more:hover {
    font-weight: 700;
}
.tour .more:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #1d1d1d;
    font-weight: 700;
}

.community {
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    padding: 229px 0 0 0;
}
.community .wrapper {
    display: flex; /* tit/inner를 좌우로 배치 */
    justify-content: space-between; /* 양끝 */
}
.community .tit {
    margin: 25px 0 0 0;
}
.community .tit h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 23px 0;
}
.community .inner {
    display: flex; /* notice/link 좌우로 배치 */
    gap: 12px;
}
.community .inner .notice {
    width: 511px;
    height: 341px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    backdrop-filter: blur(3px);
    padding: 46px 40px 0 40px;
    /* 높이로 제한하고 있기 때문에 하단 여백 안줌 */
    position: relative; /* more 포지션*/

}
.community .inner .notice:hover {
    background-color: #000;
}
.community .inner .notice h3 {
    font-size: 25px;
    font-weight: 700;
}
.community .inner .notice .list {
    margin: 9px 0 0 0;
}
.community .inner .notice .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.community .inner .notice .list ul li a {
    display: flex; /* strong span */
    justify-content: space-between;
    padding: 11px 0 11px 0
}
.community .inner .notice .list ul li a strong {
    width: calc(100% - 90px);
    /* 100%에서
        옆에 날짜 넓이 + 둘사이 여백을 뺌
        1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .inner .notice .list ul li a:hover strong {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.community .inner .notice .list ul li span {
    width: 85px;
    /*  날짜는 자리수가 늘지 않음 
        25-1-1 이렇게 표시하면 자릿수가 변동됨
        그래서 날자 표기는 25-01-01 이렇게 표시 - 자릿수를 변동시키지 않기 위해
        제일 넓은 숫자를 기준으로 최대 넓이를 고정값으로 줌 
    */
    text-align: center;
}
.community .inner .notice .more {
    position: absolute; /* notice 레이아웃 */
    right: 40px;
    top: 52px;
    padding: 0 14px 0 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.community .inner .notice .more:hover {
    color: #fff;
    font-weight: 700;
}
.community .inner .notice .more:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    font-weight: 700;
}
.community .inner .notice .more::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_153' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='0.553589' y='0.0273438' width='15.4465' height='15.4465' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_153)'%3E%3Cpath d='M7.63335 8.39492H3.77173V7.10771H7.63335V3.24609H8.92055V7.10771H12.7822V8.39492H8.92055V12.2565H7.63335V8.39492Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.community .inner .link{
    width: 416px;
}
.community .inner .link ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 12px
}
.community .inner .link ul li {
    width: calc(50% - 6px);
    /*
        100/한줄에 들어가는 li갯수 = 100/2 = 50%
        한줄에 들어가는 여백의총합/한줄에 들어가는 li갯수 = 12/2 =6
    */
}
.community .inner .link ul li a {
    display: block;
    height: 165px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    backdrop-filter: blur(3px);
    padding:  28px 0 0 28px;
    font-size: 25px;
    font-weight: 700;
    position: relative; /* 정렬 기준 선언 */
}
.community .inner .link ul li a:hover {
    background-color: #000;
}
.community .inner .link ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 선언 */
    right: 41px;
    bottom: 28px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
}
.community .inner .link ul li.link01 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_171' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_171)'%3E%3Cpath d='M7.5 23.75V25C7.5 25.3542 7.38021 25.651 7.14062 25.8906C6.90104 26.1302 6.60417 26.25 6.25 26.25H5C4.64583 26.25 4.34896 26.1302 4.10938 25.8906C3.86979 25.651 3.75 25.3542 3.75 25V15L6.375 7.5C6.5 7.125 6.72396 6.82292 7.04688 6.59375C7.36979 6.36458 7.72917 6.25 8.125 6.25H21.875C22.2708 6.25 22.6302 6.36458 22.9531 6.59375C23.276 6.82292 23.5 7.125 23.625 7.5L26.25 15V25C26.25 25.3542 26.1302 25.651 25.8906 25.8906C25.651 26.1302 25.3542 26.25 25 26.25H23.75C23.3958 26.25 23.099 26.1302 22.8594 25.8906C22.6198 25.651 22.5 25.3542 22.5 25V23.75H7.5ZM7.25 12.5H22.75L21.4375 8.75H8.5625L7.25 12.5ZM9.375 20C9.89583 20 10.3385 19.8177 10.7031 19.4531C11.0677 19.0885 11.25 18.6458 11.25 18.125C11.25 17.6042 11.0677 17.1615 10.7031 16.7969C10.3385 16.4323 9.89583 16.25 9.375 16.25C8.85417 16.25 8.41146 16.4323 8.04688 16.7969C7.68229 17.1615 7.5 17.6042 7.5 18.125C7.5 18.6458 7.68229 19.0885 8.04688 19.4531C8.41146 19.8177 8.85417 20 9.375 20ZM20.625 20C21.1458 20 21.5885 19.8177 21.9531 19.4531C22.3177 19.0885 22.5 18.6458 22.5 18.125C22.5 17.6042 22.3177 17.1615 21.9531 16.7969C21.5885 16.4323 21.1458 16.25 20.625 16.25C20.1042 16.25 19.6615 16.4323 19.2969 16.7969C18.9323 17.1615 18.75 17.6042 18.75 18.125C18.75 18.6458 18.9323 19.0885 19.2969 19.4531C19.6615 19.8177 20.1042 20 20.625 20ZM6.25 21.25H23.75V15H6.25V21.25Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link02 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_180' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_180)'%3E%3Cpath d='M2.5 23.75V16.25C2.5 15.6875 2.61458 15.1771 2.84375 14.7188C3.07292 14.2604 3.375 13.8542 3.75 13.5V10C3.75 8.95833 4.11458 8.07292 4.84375 7.34375C5.57292 6.61458 6.45833 6.25 7.5 6.25H12.5C12.9792 6.25 13.4271 6.33854 13.8438 6.51562C14.2604 6.69271 14.6458 6.9375 15 7.25C15.3542 6.9375 15.7396 6.69271 16.1562 6.51562C16.5729 6.33854 17.0208 6.25 17.5 6.25H22.5C23.5417 6.25 24.4271 6.61458 25.1562 7.34375C25.8854 8.07292 26.25 8.95833 26.25 10V13.5C26.625 13.8542 26.9271 14.2604 27.1562 14.7188C27.3854 15.1771 27.5 15.6875 27.5 16.25V23.75H25V21.25H5V23.75H2.5ZM16.25 12.5H23.75V10C23.75 9.64583 23.6302 9.34896 23.3906 9.10938C23.151 8.86979 22.8542 8.75 22.5 8.75H17.5C17.1458 8.75 16.849 8.86979 16.6094 9.10938C16.3698 9.34896 16.25 9.64583 16.25 10V12.5ZM6.25 12.5H13.75V10C13.75 9.64583 13.6302 9.34896 13.3906 9.10938C13.151 8.86979 12.8542 8.75 12.5 8.75H7.5C7.14583 8.75 6.84896 8.86979 6.60938 9.10938C6.36979 9.34896 6.25 9.64583 6.25 10V12.5ZM5 18.75H25V16.25C25 15.8958 24.8802 15.599 24.6406 15.3594C24.401 15.1198 24.1042 15 23.75 15H6.25C5.89583 15 5.59896 15.1198 5.35938 15.3594C5.11979 15.599 5 15.8958 5 16.25V18.75Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link03 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_174' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_174)'%3E%3Cpath d='M7.5 27.5V16.0625C6.375 15.7708 5.46875 15.1771 4.78125 14.2812C4.09375 13.3854 3.75 12.375 3.75 11.25V2.5H6.25V10H7.5V2.5H10V10H11.25V2.5H13.75V11.25C13.75 12.375 13.4062 13.3854 12.7188 14.2812C12.0312 15.1771 11.125 15.7708 10 16.0625V27.5H7.5ZM20 27.5V15.5938C18.875 15.2188 17.9688 14.4323 17.2812 13.2344C16.5938 12.0365 16.25 10.6771 16.25 9.15625C16.25 7.30208 16.7396 5.72917 17.7188 4.4375C18.6979 3.14583 19.875 2.5 21.25 2.5C22.625 2.5 23.8021 3.15104 24.7812 4.45312C25.7604 5.75521 26.25 7.33333 26.25 9.1875C26.25 10.7083 25.9063 12.0625 25.2188 13.25C24.5313 14.4375 23.625 15.2188 22.5 15.5938V27.5H20Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link04 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_61_177' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_61_177)'%3E%3Cpath d='M2.5 27.5C3.10417 25.9583 3.50521 24.3698 3.70312 22.7344C3.90104 21.099 4.02083 19.4583 4.0625 17.8125C3.25 17.5 2.57812 16.9792 2.04688 16.25C1.51562 15.5208 1.25 14.6875 1.25 13.75V11.25C3.64583 10.4583 6.08854 9.25 8.57812 7.625C11.0677 6 13.2083 4.29167 15 2.5C16.7917 4.29167 18.9323 6 21.4219 7.625C23.9115 9.25 26.3542 10.4583 28.75 11.25V13.75C28.75 14.6875 28.4844 15.5208 27.9531 16.25C27.4219 16.9792 26.75 17.5 25.9375 17.8125C25.9792 19.4583 26.099 21.099 26.2969 22.7344C26.4948 24.3698 26.8958 25.9583 27.5 27.5H2.5ZM7.375 11.25H22.625C21 10.3333 19.5365 9.39063 18.2344 8.42188C16.9323 7.45312 15.8542 6.60417 15 5.875C14.1458 6.60417 13.0677 7.45312 11.7656 8.42188C10.4635 9.39063 9 10.3333 7.375 11.25ZM18.125 15.625C18.6458 15.625 19.0885 15.4427 19.4531 15.0781C19.8177 14.7135 20 14.2708 20 13.75H16.25C16.25 14.2708 16.4323 14.7135 16.7969 15.0781C17.1615 15.4427 17.6042 15.625 18.125 15.625ZM11.875 15.625C12.3958 15.625 12.8385 15.4427 13.2031 15.0781C13.5677 14.7135 13.75 14.2708 13.75 13.75H10C10 14.2708 10.1823 14.7135 10.5469 15.0781C10.9115 15.4427 11.3542 15.625 11.875 15.625ZM5.625 15.625C6.14583 15.625 6.58854 15.4427 6.95312 15.0781C7.31771 14.7135 7.5 14.2708 7.5 13.75H3.75C3.75 14.2708 3.93229 14.7135 4.29688 15.0781C4.66146 15.4427 5.10417 15.625 5.625 15.625ZM5.8125 25H9.15625C9.34375 23.75 9.48958 22.5104 9.59375 21.2812C9.69792 20.0521 9.78125 18.8125 9.84375 17.5625C9.65625 17.4583 9.46875 17.349 9.28125 17.2344C9.09375 17.1198 8.91667 16.9792 8.75 16.8125C8.4375 17.125 8.09896 17.3802 7.73438 17.5781C7.36979 17.776 6.97917 17.9271 6.5625 18.0312C6.52083 19.2188 6.44792 20.3906 6.34375 21.5469C6.23958 22.7031 6.0625 23.8542 5.8125 25ZM11.6875 25H18.3125C18.1458 23.8542 18.0156 22.7083 17.9219 21.5625C17.8281 20.4167 17.75 19.2604 17.6875 18.0938C17.1458 18.0521 16.651 17.9219 16.2031 17.7031C15.7552 17.4844 15.3542 17.1979 15 16.8438C14.6458 17.1979 14.2344 17.4844 13.7656 17.7031C13.2969 17.9219 12.8125 18.0521 12.3125 18.0938C12.25 19.2604 12.1719 20.4167 12.0781 21.5625C11.9844 22.7083 11.8542 23.8542 11.6875 25ZM20.8438 25H24.1875C23.9375 23.8542 23.7604 22.7031 23.6563 21.5469C23.5521 20.3906 23.4792 19.2188 23.4375 18.0312C23.0208 17.9271 22.625 17.776 22.25 17.5781C21.875 17.3802 21.5417 17.125 21.25 16.8125C21.0833 16.9792 20.9062 17.1198 20.7188 17.2344C20.5312 17.349 20.3438 17.4583 20.1562 17.5625C20.2188 18.8125 20.3073 20.0521 20.4219 21.2812C20.5365 22.5104 20.6771 23.75 20.8438 25ZM24.375 15.625C24.8958 15.625 25.3385 15.4427 25.7031 15.0781C26.0677 14.7135 26.25 14.2708 26.25 13.75H22.5C22.5 14.2708 22.6823 14.7135 23.0469 15.0781C23.4115 15.4427 23.8542 15.625 24.375 15.625Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}

footer {
    padding: 69px 0 78px 0;
    background-color: #000;
}
footer .f_nav ul {
    display: flex;
    gap: 26px;
    color: #fff;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 4px;
    width: 1px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.3);
}
footer .f_nav ul li:first-child:before {
    display: none;
}
footer .f_nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}
footer .f_info {
    color: #fff;
    margin: 40px 12px 29px 0;
    display: flex;
    gap: 25px;
}
footer .copyright p {
    color: rgba(255, 255, 255, 0.8);
    margin: 4px 0 0 0;
}