/* 회사소개 > CEO인사말 */

.ctn_ceo {
    position: relative; /* before 정렬의 기준 */
}
.ctn_ceo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 24.06em;
    background-color: #F6FCFF;
    z-index: -1;
}
.ctn_ceo .wrapper {
    position: relative; /* photo 정렬의 기준 */
}

.ctn_ceo .ceo_tit {
    padding: 6.09em 0 0 43.41%;
}
.ctn_ceo .ceo_tit strong {
    display: block;
    color: var(--point-color);
}
.ctn_ceo .ceo_tit h2 {
    color: var(--tit-color);
    font-size: 2.35rem;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.25em 0 0.5em 0;
}
.ctn_ceo .photo {
    position: absolute;
    left: 0;
    top: 6.09em;
    width: 40.55%;
    height: 40.65em;
    overflow: hidden;
    border-radius: 1.47em;
}
.ctn_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_ceo .ceo_detail {
    margin: 8.82em 0 10em 43.41%;
    line-height: 1.7;
}
.ctn_ceo .ceo_detail .sign {
    display: flex;
    margin: 1.5em 0 0 0;
    gap: 2.2em;
}
.ctn_ceo .ceo_detail .sign strong {
    color: var(--tit-color);
    font-weight: var(--bold-weight);
}
@media screen and (max-width:1440px) {
    .ctn_ceo::before {
        left: 20px;
        width: calc(100% - 40px);
    }
    .ctn_ceo .wrapper {
        margin: 0 40px; /* photo 정렬의 기준 */
    }
    .ctn_ceo .ceo_tit {
        padding-left: 43%;
    }
    .ctn_ceo .ceo_detail {
        margin-left: 43%;
    }
}
@media screen and (max-width:768px) {
    .ctn_ceo::before {
        display: none;
    }
    .ctn_ceo .wrapper {
        margin: 0 20px; /* photo 정렬의 기준 */
    }
    .ctn_ceo .ceo_tit {
        background-color: #F6FCFF;
        padding: 3.69em 1.62em;
        border-radius: 1.56em;
    }
    .ctn_ceo .ceo_tit h2 {
        color: var(--tit-color);
        font-size: 1.56rem;
        font-weight: var(--bold-weight);
        line-height: var(--tit-line-height);
        margin: 0.31em 0 1.25em 0;
    }
    .ctn_ceo .photo {
        margin: 1.87em auto 0 auto;
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        max-width: 490px;
        height: 30.62em;
        border-radius: 1.47em;
    }
    .ctn_ceo .photo img {
        object-position: center top;
    }
    .ctn_ceo .ceo_detail {
        margin: 1.87em 0 7.5em 0;
        line-height: 1.7;
    }
    .ctn_ceo .ceo_detail .sign {
        flex-direction: column;
        align-items: flex-start;
        margin: 4.4em 0 0 0;
        gap: 0;
    }
    .ctn_ceo .ceo_detail .sign strong {
        color: var(--tit-color);
        font-weight: var(--bold-weight);
    }
}
.ctn_map {
    font-family: 'Pretendard';
}
.ctn_map .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe {
    width: 100%;
    height: 31.70em;
    border: 0;
}
@media screen and (max-width:1300px){
    .ctn_map .map {
        left: 20px;
        width: calc(100% - 20px);
    }
}

.ctn_map .location h2,
.ctn_map .tel .tit h2,
.ctn_map .traffic .tit h2 {
    color: var(--tit-color);
    font-size: var(--tit-font-size);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
}
.ctn_map .tel ul li span,
.ctn_map .traffic ul li span {
    color: var(--tit-color);
    font-size: 1.29rem;
    font-weight: var(--bold-weight);
    line-height: 1.2;
}

.ctn_map .location {
    margin: 2.94em 0 0 0;
}
.ctn_map .location .tit {
    display: flex;
    justify-content: space-between;
}
.ctn_map .location ul {
    display: flex;
    gap: 0.88em;
}
.ctn_map .location ul li {
    white-space: nowrap;
    margin-left: 1.18em;
}
.ctn_map .location ul li a {
    border: 1px solid #1d1d1d;
    padding: 0.59em 2.23em;
    border-radius: 2.94em;
}

.ctn_map .tel {
    margin: 2.94em 0 4.59em 0;
    border-top: 1px solid #ccc;
    padding: 2.94em 0 0 0;
}
.ctn_map .tel .tit {
    display: flex;
    gap: 15.94em;
}
.ctn_map .tel ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.88em;
}
.ctn_map .tel ul li {
    display: flex;
    gap: 1.59em;
}
.ctn_map .tel p {
    margin: 2.35em 0 0.59em 0;
    color: #767676;
}
.ctn_map .tel .more {
    border: 1px solid var(--base-color);
    border-radius: 2.94em;
    padding: 0.29em 2.41em 0.29em 1.06em;
    position: relative;
    color: #767676;
}
.ctn_map .tel .more::before {
    content: "";
    position: absolute;
    right: 0.94em;
    top: 0.41em;
    width: 1.06em;
    height: 1.06em;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_202_513' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_202_513)'%3E%3Cpath d='M3.75 15.75C3.3375 15.75 2.98438 15.6031 2.69063 15.3094C2.39688 15.0156 2.25 14.6625 2.25 14.25V3.75C2.25 3.3375 2.39688 2.98438 2.69063 2.69063C2.98438 2.39688 3.3375 2.25 3.75 2.25H9V3.75H3.75V14.25H14.25V9H15.75V14.25C15.75 14.6625 15.6031 15.0156 15.3094 15.3094C15.0156 15.6031 14.6625 15.75 14.25 15.75H3.75ZM7.275 11.775L6.225 10.725L13.2 3.75H10.5V2.25H15.75V7.5H14.25V4.8L7.275 11.775Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

.ctn_map .traffic {
    margin: 2.94em 0 12.05em 0;
    border-top: 1px solid #ccc;
    padding: 2.94em 0 0 0;
}
.ctn_map .traffic .tit {
    display: flex;
    gap: 15.94em;
}
.ctn_map .traffic ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.88em;
}
.ctn_map .traffic ul li {
    display: flex;
    gap: 1.88em;
}
@media screen and (max-width:768px){
    .ctn_map .map {
        left: auto;
        width: auto;
    }
    .ctn_map .map iframe {
        height: 20.31em;
    }
    
    .ctn_map .location {
        margin: 1.87em 0 1.87em 0;
    }
    .ctn_map .location .tit {
        display: block
    }
    .ctn_map .location ul {
        margin: 1.5em 0 0 0
    }
    .ctn_map .location ul li a {
        border: 1px solid #1d1d1d;
        padding: 0.69em 1.68em;
    }
    
    .ctn_map .tel .tit {
        display: block;
    }
    .ctn_map .tel ul {
        gap: 0;
    }
    .ctn_map .tel ul li {
        gap: 0.62em;
        margin: 1.5em 0 0 0
    }
    .ctn_map .tel p {
        margin: 1.89em 0 0.62em 0;
    }
    
    .ctn_map .traffic .tit {
        display: block;
    }
    .ctn_map .traffic ul {
        margin: 1.5em 0 0 0;
        gap: 0.88em;
    }
    .ctn_map .traffic ul li {
        display: flex;
        gap: 0.62em;
    }
}

/* 회사소개 > 연혁 */
.ctn_history {
    margin: 0 0 10.59em 0;
}
.ctn_history .his_tit {
    margin: 1.53em 0 3.53em 0;
}
.ctn_history .his_tit strong {
    display: block;
    color: var(--point-color);
}
.ctn_history .his_tit h2 {
    font-size: 2.35rem;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 0.29em 0 0 0;
}
.ctn_history .his_photo .photo {
    overflow: hidden;
    height: 26.32em;
    width: 30%;
    margin: 0 auto;
    transition: 0.5s;
}
.ctn_history .his_photo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_photo.active .photo {
    width: 100%;
}
.ctn_history .his_year_group .photo {
    overflow: hidden;
    height: 25.11em;
}
.ctn_history .his_year_group .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group {
    margin: 8.82em 0 11.17em 0;
    display: flex;
    justify-content: space-between;
    gap: 2.94em;
}
.ctn_history .his_year_group .year_tit {
    max-width: 23.76em;
    width: 35%;
}
.ctn_history .his_year_group .year_cont {
    max-width: 36.35em;
    width: 60%;
    padding: 0 0 0 2.18em;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: var(--point-color);
    position: relative;
}
.ctn_history .his_year_group .year_cont::before {
    content: "";
    position: absolute;
    left: -0.17em;
    top: 0;
    width: 3px;
    height: 0.70em;
    background-color: #fff;
}
.ctn_history .his_year_group .year_tit h3 {
    font-size: var(--tit-font-size);
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.ctn_history .his_year_group .year_tit .photo {
    overflow: hidden;
    border-radius: 1.47em;
    height: 23.76em;
    margin: 1.17em 0 0 0;
}
.ctn_history .his_year_group .year_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group .year_cont h4 {
    font-size: 1.47em;
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    margin: 0 0 0.76em 0;
    position: relative;
}
.ctn_history .his_year_group .year_cont h4::before {
    display: block;
    content: "";
    position: absolute;
    left: -1.74em;
    top: 0.39em;
    width: 0.44em;
    height: 0.44em;
    background-color: var(--point-color);
    border-radius: 50%;
    z-index: 10;
}
.ctn_history .his_year_group .year_cont ul + h4 {
    margin-top: 2.94em;
}
.ctn_history .his_year_group .year_cont > *:last-child {
    position: relative;
}
.ctn_history .his_year_group .year_cont > *:last-child::before {
    content: "";
    position: absolute;
    left: -2.29em;
    bottom: -0.23em;
    width: 3px;
    height: calc(100% + 2.36em);
    background-color: #fff;
}
.ctn_history .his_year_group .year_cont ul li {
    display: flex;
    justify-content: space-between;
    margin: 0.29em 0;
}
.ctn_history .his_year_group .year_cont ul li strong {
    display: block;
    color: var(--tit-color);
    font-weight: var(--bold-weight);
}
.ctn_history .his_year_group .year_cont ul li span {
    display: block;
    width: calc(100% - 5.59em);
}
.ctn_history .his_nav {
    position: fixed; /* 무조건 body로 연결 */
    left: 50%;
    transform: translateX(-50%);
    bottom: -5em;
    width: calc(100% - 40px);
    background-color: #fff;
    z-index: 99; /*header 보다 1만 작은값*/
    max-width: 1260px;
    padding: 0.53em 2% 0.47em 2%;
    border-radius: 6em;
    transition: 0.5s;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 40%);
}
.ctn_history .his_nav.active {
    bottom: 1.17em;
}
.ctn_history .his_nav ul {
    display: flex;
    overflow-y: hidden; /*위아래 스크롤 금지*/
    overflow-x: auto;
}
.ctn_history .his_nav ul li {
    width: 25%;
}
.ctn_history .his_nav ul li button {
    display: block;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    font-size: 1.18rem;
    padding: 0.47em 1.5em 0.23em 1.5em;
    border-radius: 6em;
    white-space: nowrap;
}
.ctn_history .his_nav ul li.active button {
    background-color: var(--point-color);
    color: #fff;
    font-weight: var(--bold-weight);
}

@media screen and (min-width:769px) {
    /* reverse 좌우 반전 */
    .ctn_history .his_year_group.reverse .year_cont > *:last-child::before {
        left: auto;
        right: -2.29em;
    }
    .ctn_history .his_year_group.reverse .year_cont::before {
        left: auto;
        right: -0.17em;
    }
    .ctn_history .his_year_group.reverse .year_cont h4::before {
        left: auto;
        right: -1.74em;
    }
    .ctn_history .his_year_group.reverse {
        flex-direction: row-reverse;
    }
    .ctn_history .his_year_group.reverse .year_cont {
        padding-right: 2.18em;
        padding-left: 0;
        border-width: 0 2px 0 0;
    }
    .ctn_history .his_year_group.reverse .year_cont {
        text-align: right;
    }
    .ctn_history .his_year_group.reverse .year_cont ul li {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:768px) {
    .ctn_history {
        margin: 0 0 6em 0;
    }
    .ctn_history .his_tit {
        margin: 2.68em 0 3.12em 0;
    }
    .ctn_history .his_photo .photo {
        height: 13.31em;
    }
    .ctn_history .his_tit strong {
        display: block;
        color: var(--point-color);
    }
    .ctn_history .his_tit h2 {
        font-size: 1.87rem;
        margin: 0;
    }
    .ctn_history .his_tit h2 br {
        display: none;
    }
    .ctn_history .his_year_group {
        margin: 3.12em 0 3.62em 0;
        display: block;
    }
    .ctn_history .his_year_group .year_tit {
        margin: 0 0 2.62em 0;
    }
    .ctn_history .his_year_group .year_cont {
        max-width: 100%;
        width: auto;
        padding: 0 0 0 2.18em;
        border-width: 0 0 0 2px;
        border-style: solid;
        border-color: var(--point-color);
        position: relative;
    }
    .ctn_history .his_year_group .year_cont::before {
        content: "";
        position: absolute;
        left: -0.17em;
        top: 0;
        width: 3px;
        height: 0.70em;
        background-color: #fff;
    }
    .ctn_history .his_year_group .year_tit h3 {
        white-space: nowrap;
    }
    .ctn_history .his_year_group .year_tit p {
        white-space: nowrap;
    }
    .ctn_history .his_year_group .year_tit .photo {
        display: none;
    }
    .ctn_history .his_year_group .year_cont h4 {
        font-size: 1.47em;
    }
    .ctn_history .his_year_group .year_cont ul {
        margin-left: 0.625em;
    }
    .ctn_history .his_year_group .year_cont ul + h4 {
        margin-top: 2.94em;
    }
    .ctn_history .his_year_group .year_cont > *:last-child::before {
        left: -2.93em;
    }

    .ctn_history .his_nav {
        padding: 0.53em 1.23em 0.47em 1.23em;
    }
    .ctn_history .his_nav ul::-webkit-scrollbar {
        display: none; /* 스크롤바 삭제 */
    }
    .ctn_history .his_nav ul li {
        width: auto;
    }
    .ctn_history .his_nav ul li button {
        width: 100%;
        margin: 0;
        font-size: 1rem;
        padding: 0.56em 1.23em 0.37em 1.23em;
    }
    .ctn_history .his_nav ul li.active button {
        background-color: var(--point-color);
        color: #fff;
        font-weight: var(--bold-weight);
    }
}

/* 홍보센터 - 금호뉴스 - 상담신청 */
.ctn_notice {
    margin: 0.59em 0 11.76em 0;
}
.ctn_notice h2 {
    font-size: 1.76rem;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    margin-bottom: 1em;
}
.ctn_notice .agree_box {
    border: 1px solid #ccc;
    border-radius: 1.47em;
    padding: 1.23em 3.88em;
    height: 17.64em;
    line-height: 1.7;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: normal;
}
.ctn_notice .agree_chk {
    margin: 2.06em 0 8.82em 0;
    display: flex;
    justify-content: center;
    gap: 1.76em;
}
.ctn_notice .agree_chk .item input[type="radio"] {
    display: none;
}
.ctn_notice .agree_chk .item label {
    position: relative; /* before 정렬의 기준 */
    color: var(--tit-color);
    padding-left: 1.53em;
    cursor: pointer;
}
.ctn_notice .agree_chk .item label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.09em;
    width: 1.06em;
    height: 1.06em;
    border: 1px solid var(--base-color);
    border-radius: 50%;
}
/* radio가 체크 되었을때 label 디자인 */
.ctn_notice .agree_chk .item input[type="radio"]:checked + label::before {
    border-color: var(--point-color);
    background-color: var(--point-color);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.57109 7.49896L0.246094 4.17396L1.07734 3.34271L3.57109 5.83646L8.92318 0.484375L9.75443 1.31563L3.57109 7.49896Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.ctn_notice .regist {
    border-top: 2px solid var(--base-color);
}
.ctn_notice .regist .item {
    border-bottom: 2px solid #ccc;
    display: flex;
    gap: 4.7em;
}
.ctn_notice .regist .item label {
    max-width: 8.63em;
    width: 25%;
    font-size: 1.29em;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    text-align: center;
    background-color: #f7f7f7;
    padding: 2.8em 0 0 0;
}
.ctn_notice .regist .item select,
.ctn_notice .regist .item input,
.ctn_notice .regist .item textarea {
    margin: 2.27em 0;
    border: 1px solid var(--base-color);
    border-radius: 0.59em;
    min-width: 2.94em;
    background-color: #f7f7f7;
    padding: 1.17em;
}
.ctn_notice .regist .item .w100 {
    min-width: calc(100% - 17em);
    width: calc(75% - 4.5em);
}
.ctn_notice .regist .item .w70 {
    max-width: 42.64em;
    width: calc(75% - 4.5em);
}
.ctn_notice .regist .item textarea {
    resize: none;
}
.ctn_notice .regist .item input::placeholder {
    color: #767676;
}
.ctn_notice .btn_wrap {
    margin: 2.94em 0 0 0;
    display: flex;
    justify-content: space-between;
}
.ctn_notice .btn_wrap .cancel,
.ctn_notice .btn_wrap .ok {
    font-size: 1.29rem;
    width: 8.63em;
    height: 2.95em;
    text-align: center;
    color: #fff;
    line-height: calc(2.95em + 0.18em);
}
.ctn_notice .btn_wrap .cancel {
    background-color: #333;
}
.ctn_notice .btn_wrap .ok {
    background-color: var(--point-color);
}

@media screen and (max-width:768px) {
    .ctn_notice h2 {
        font-size: 1.87rem;
        margin-bottom: 0.66em;
    }
    .ctn_notice .agree_box {
        border: 1px solid #ccc;
        border-radius: 1.56em;
        padding: 1.87em 2.25em;
        height: 18.75em;
    }
    .ctn_notice .agree_chk {
        margin: 1.25em 0 12.5em 0;
        display: flex;
        justify-content: center;
        gap: 1.87em;
    }
    .ctn_notice .regist {
        border-top: 2px solid var(--base-color);
    }
    .ctn_notice .regist .item {
        border-bottom: 0;
        display: block;
    }
    .ctn_notice .regist .item label {
        max-width: 100%;
        width: auto;
        display: block;
        font-size: 1.25em;
        text-align: left;
        background-color: transparent;
        padding: 1.87em 0 0.62em 0;
    }
    .ctn_notice .regist .item select,
    .ctn_notice .regist .item input,
    .ctn_notice .regist .item textarea {
        margin: 0;
    }
    .ctn_notice .regist .item .w100 {
        min-width: 100%;
        width: 100%;
    }
    .ctn_notice .regist .item .w70 {
        max-width: 100%;
        width: 100%;
    }
    .ctn_notice .btn_wrap {
        margin: 5em 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .ctn_notice .btn_wrap .cancel,
    .ctn_notice .btn_wrap .ok {
        font-size: 1.25rem;
        width: 6.4em;
        height: 3.25em;
        line-height: calc(3.25em + 0.2em);
    }
}