@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);

/* 서브 레이아웃 요소 (중복요소 - 페이지명까지) */
.sub_visual {
    height: 24.59em;
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    padding: 11.41em 0 0 0;
}
.sub_visual.bg1 {
    background-image: url(../images/sub/sub_visual01.jpg);
}
.sub_visual.bg2 {
    background-image: url(../images/sub/sub_visual02.jpg);
}
.sub_visual.bg3 {
    background-image: url(../images/sub/sub_visual03.jpg);
}
.sub_visual.bg4 {
    background-image: url(../images/sub/sub_visual04.jpg);
}
.sub_visual.bg5 {
    background-image: url(../images/sub/sub_visual05.jpg);
}
.sub_visual .breadcrumb ol {
    display: flex;
    justify-content: center;
    gap: 1.41em;
}
.sub_visual .breadcrumb ol li.home {
    width: 0.94em;
    height: 1.06em;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18V6L8 0L16 6V18H10V11H6V18H0Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sub_visual .breadcrumb ol li + li {
    /* 첫번째 빼고 나머지 전부 */
    position: relative; /* before 정렬의 기준 */
}
.sub_visual .breadcrumb ol li + li:before {
    content: "";
    position: absolute;
    left: -1em;
    top: 0.23em;
    width: 0.7em;
    height: 0.7em;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L6 5L1 10L0.1125 9.1125L4.225 5L0.1125 0.8875L1 0Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sub_visual .depth1_name {
    font-size: 2.65rem;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.59em 0 0 0;
}
@media screen and (max-width:1024px){
    .sub_visual {
        height: 23.35em;
        padding: 12.12em 0 0 0;
    }
    .sub_visual .depth1_name {
        font-size: 2.5rem;
        margin: 0.62em 0 0 0;
    }
}
@media screen and (max-width:768px){
    .sub_visual .depth1_name {
        font-size: 2.18rem;
        margin: 0.31em 0 0 0;
    }
}
.lnb {
    background-color: var(--point-color);
    color: #fff;
}
.lnb ul {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto;
}
.lnb ul li a {
    display: block;
    height: 3.53em;
    line-height: 3.53em;
    font-size: 1rem;
    padding: 0 1.47em;
}
.lnb ul li.active a {
    font-weight: var(--bold-weight);
    position: relative;
}
.lnb ul li.active a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3em;
    background-color: #fff;
}
@media screen and (max-width:768px){
    .lnb ul {
        justify-content: flex-start; /* 왼쪽 정렬 */
    }
    .lnb ul li a {
        height: 3.12em;
        line-height: 3.12em;
        font-size: 1.06rem;
        padding: 0 1.56em;
    }
}

.page_tit {
    margin: 5.76em 0 2.35em 0;
    font-size: 2.64rem;
    font-weight: var(--bold-weight);
    text-align: center;
    color: var(--tit-color);
}
@media screen and (max-width:1440px){
    .page_tit {
        margin: 4.37em 0 1.55em 0;
        font-size: 2.19rem;
        font-weight: var(--bold-weight);
        text-align: center;
        color: var(--tit-color);
    }
}
@media screen and (max-width:1024px){
    .page_tit {
        margin: 4.37em 0 1.35em 0;
        font-size: 2.19rem;
        font-weight: var(--bold-weight);
        text-align: center;
        color: var(--tit-color);
    }
}
@media screen and (max-width:768px){
    .page_tit {
        margin: 4.37em 0 1.25em 0;
        font-size: 2.19rem;
        font-weight: var(--bold-weight);
        text-align: center;
        color: var(--tit-color);
    }
}

.contents {
    min-height: 20em;
}